-# teams scheduled in current week
#active-teams
  = render('teams/team_list', teams: active_teams)
-# teams not scheduled in current week
#inactive-teams
  = render('teams/team_list', teams: inactive_teams)
