%dl
  - teams.each do |team|
    %di{class: dom_id(team)}
      %dt.shortcut
        .pibble.team-color{style: "background-color: #{team.color};"}
        %span= team.shortcut
      %dd.name= team.name
