- title :teams

- if can? :create, Team
  - masthead_toolbar do
    = link_to ti(:add), [:new] + nested_resources_for(current_organization) + [:team],
      class: 'button', remote: true, data: { icon: i(:add) }

#teams
  - unless collection.empty?
    = render 'table', teams: collection
  - else
    %p= t(:'.no_teams')


