- title :teams

- masthead_toolbar do
  %button{:id => 'merge-button'}
    = ti(:merge)

  - if can? :create, Team
    = link_to ti(:add), [:new] + nested_resources_for(current_organization) + [:team],
      class: 'button', remote: true, data: { icon: i(:add) }

#teams
  - unless collection.empty?
    = render 'table', teams: collection
  - else
    %p= t(:'.no_teams')
