// 525px

#browser-width-detection
  max-width: 525px
  content: ''

body
  padding-top: 80px

[role=banner]
  position: absolute

  .logo
    float: none

  ul.notifications
    width: 275px

[role=aside],
[role=content],
.scheduling
  font-size: $font-size_smaller


table
  th,
  td
    padding: 2px

.tableFloatingHeader
  top: 0 !important
