.row.two-columns.inverted.dashboard
  .secondary
    .module.list.news
      %header
        %h2
          = t(:'blogs.company_news')

          %a.side-link
            See all

      .content
        %ul
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post



