.row.two-columns.inverted.dashboard
  .primary
    .module.schedulings
      %header 
        %h2 
          = t(:upcoming_schedulings)
          %span.count 17

          %a.side-link
            See all

      .content
        %table.agenda
          %tr
            %th.date
              %span.day
                20
              %span.day-name
                Wed
              %span.month-year
                Oct 2012
            %td
              %strong
                9 - 17

              Team Name [TN]

          %tr
            %th.date
              %span.day
                26
              %span.day-name
                Wed
              %span.month-year
                Oct 2012
            %td
              %strong
                9 - 17

              Team Name [TN]              

          %tr
            %th.date
              %span.day
                29
              %span.day-name
                Wed
              %span.month-year
                Oct 2012
            %td
              %strong
                9 - 17

              Other Team Name [OTN]

  .secondary
    .module.list.news
      %header
        %h2
          = t(:'blogs.company_news')

          %a.side-link
            See all

      .content
        %ul
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post



