<style type="text/css">
#new_session {
  position: absolute;
  left: 50%;
  width: 400px;
  margin-left: -230px;
  border: 1px solid #ddd;
  padding: 30px;
  background-color: #f6f6f6;
}

#new_session label {
  display: block;
  margin-bottom: 0.5em;
}

#new_session input {
  margin-bottom: 1em;
  font-size: 1.4em;
}

#new_session input[type=submit] {
  margin-bottom: 0;
}
</style>

<% form_for :session, :url => session_path, :method => :post, :html => { :id => 'new_session' } do |f| %>
  <h1>Login</h1>
  <fieldset>
    <ol>
      <li>
        <label for="session_email">E-Mail</label>
        <%= f.text_field :email %>
      </li>
      <li>
        <label for="session_password">Password</label>
        <%= f.password_field :password %>
      </li>
    </ol>
    <%= f.submit 'Login' %>
  </fieldset>  
<% end %>