- unless milestones.blank?
  %ul.milestones
    - milestones.each do |ms|
      %li.milestone
        = render 'doables/details', doable: ms, url: '#'
        - unless ms.tasks.todo.empty?
          %ul.tasks
            - ms.tasks.todo.each do |t|
              %li.task= render 'doables/details', doable: t, url: '#'
