.bundle
.DS_Store
.rvmrc
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
coverage
coverage.data
public/javascripts/all.js
public/sprockets.js
public/stylesheets/all.css
vendor/htmlunit*
vendor/rails
tmp/restart.txt
rerun.txt
