[submodule "vendor/assets/javascripts/space-pen"]
	path = vendor/assets/javascripts/space-pen
	url = git://github.com/nathansobo/space-pen.git
[submodule "vendor/assets/mixed/jquery-miniColors"]
	path = vendor/assets/mixed/jquery-miniColors
	url = git://github.com/claviska/jquery-minicolors.git
[submodule "vendor/assets/stylesheets/normalize.css"]
	path = vendor/assets/stylesheets/normalize.css
	url = git://github.com/necolas/normalize.css.git
[submodule "vendor/assets/fonts/fontawesome"]
	path = vendor/assets/fonts/fontawesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "vendor/assets/stylesheets/neat"]
	path = vendor/assets/stylesheets/neat
	url = git://github.com/thoughtbot/neat.git
[submodule "vendor/assets/javascripts/bindWithDelay"]
	path = vendor/assets/javascripts/bindWithDelay
	url = git://github.com/bgrins/bindWithDelay.git
[submodule "vendor/assets/mixed/jquery.timeentry"]
	path = vendor/assets/mixed/jquery.timeentry
	url = https://github.com/kbwood/timeentry
