.bundle
db/*.sqlite3
log/*.log
tmp/
.DS_Store
.sass-cache/
config/database.yml
log/TODO
chromedriver.log
screenshots/
screencasts/
coverage
features/support/stepdefs.txt
config/missing_translations.yml
public/uploads/
*.swp
