= simple_form_for([current_organization, employee]) do |f|
  = f.error_notification

  .inputs
    = render 'form_fields', { f: f, employee: employee }

  .actions
    %button.btn.btn-primary= ti(:update)
