- title :employees

#actions.btn-toolbar
  - if can? :create, Employee
    = link_to ti(:add), new_account_organization_employee_path(current_account, current_organization), class: 'btn btn-primary', remote: true

= render 'table', employees: collection
