%h1= t('.employees')

#actions.btn-toolbar
  - if can? :create, Employee
    = link_to ti(:add), new_organization_employee_path(current_organization), class: 'btn btn-inverse', remote: true

= render 'table', employees: collection
