- title :employees

- if can? :create, Employee
  - masterhead_toolbar do
    =link_to ti(:add), [:new] + nested_resources_for(current_organization) + [:employee], class: 'button', remote: true, data: { icon: i(:add) }

.row.two-columns.inverted
  .primary
    #employees
      - unless collection.empty?
        = render 'table', employees: collection
      - else
        %p= t(:'.no_employees')

  .secondary.instructions
    - if can? :create, Employee
      = tt '.instructions'
