- title :employees

- if can? :create, Employee
  - masterhead_toolbar do
    =link_to ta(:adopt), [:adopt] + nested_resources_for(current_organization) + [:employees],
      class: 'button button-add', title: t('employees.index.adopt_employee')
    =link_to ta(:add), [:new] + nested_resources_for(current_organization) + [:employee],
      class: 'button button-add', title: t('employees.index.add_employee')

.primary
  #employees
    - unless collection.empty?
      = render 'table', records: collection
    - else
      %p= t(:'.no_employees')

#instructions.instructions
  - if can? :create, Employee
    = tt '.planner_instructions'
  - else
    = tt '.instructions'
