- title :employees

- if can? :create, Employee
  - masterhead_toolbar do
    =link_to ti(:add), [:new] + nested_resources_for(current_organization) + [:employee], class: 'button', data: { icon: i(:add) }

= render 'table', employees: collection
