<ul id="employees">
  <li id="new_employee" class="employee clickable">
    <%= image_tag(Employee.new.gravatar_url(:size => 60)) %>
    <h2><%= link_to '[Click to add]', new_employee_path, :class => 'add dialog clickable_link', :title => 'New employee' %></h2>
    <p class="qualifications">Click here to add a new employee</p>
    <div class="actions"></div>
  </li>
  <%= render :partial => 'employee', :collection => @employees %>
</ul>