- title :new_employee

- if can? :create, Employee
  - masterhead_toolbar do
    =link_to ta(:adopt), [:adopt] + nested_resources_for(current_organization) + [:employees],
      class: 'button button-add', title: t('employees.index.adopt_employee')

.primary
  = render 'form', employee: @employee.decorate

  - if @employee.sufficient_details_to_search_duplicates?
    = render('duplication_warning', duplicate_employees: @employee.duplicates)

#instructions.instructions
  = tt '.instructions'
