- title :new_employee

= render 'form', employee: resource

- unless @other_employees.empty?

  %h3= ta :add_employee_from_other_organizations

  = render 'search_form'

  = render 'organizations/add_members_form', employees: @other_employees
