$ci_blue: #117bbe;
$ci_darkblue: #112ebe;
$ci_darkpurple: #5111be;
$ci_purple: #be11bc;
$ci_pink: #d11340;
$ci_darkorange: #e83815;
$ci_orange: #e87b15;
$ci_darkyellow: #e8a515;
$ci_yellow: #e8cf15;
$ci_lime: #cedf14;
$ci_green: #5fca12;
$ci_teal: #11be65;

$gradient_1: #ececec;
$gradient_2: #F0F4F8;

