$font-family: Helvetica, Arial, sans-serif

$font-size: 13px
$font-size_tiny: .7em
$font-size_smaller: .8em
$font-size_small: .9em
$font-size_large: 1.2em
$font-size_larger: 1.4em
$font-size_huge: 1.6em
$font-size_massive: 1.8em

$line-height: 1.5
$line-height_tiny: 0.6
$line-height_smaller: 0.8
$line-height_small: 1.0
$line-height_large: 1.3
$line-height_larger: 1.4
$line-height_huge: 1.6
$line-height_massive: 1.8

$header_font-size: $font-size_large

$ci_easing: cubic-bezier(0.25, 0.46, 0.45, 0.94)
