$ci_border-radius: .35em;

// All the typographic stuff goes here
$ci_font-size: 13px;
$ci_header-size: 20px;
$ci_line-height: 1.5;
$ci_scale: 1.25; // Major third scale                                  // values with 13px basic size
$ci_smaller-font: ceil(modular-scale($ci_font-size, -2, $ci_scale));   //  9px
$ci_small-font: ceil(modular-scale($ci_font-size, -1, $ci_scale));     // 11px
$ci_large-font: floor(modular-scale($ci_font-size, 1, $ci_scale));     // 16px
$ci_big-font: floor(modular-scale($ci_font-size, 2, $ci_scale));       // 20px
$ci_bigger-font: floor(modular-scale($ci_font-size, 3, $ci_scale));    // 25px
$ci_biggest-font: floor(modular-scale($ci_font-size, 4, $ci_scale));   // 31px
$ci_huge-font: floor(modular-scale($ci_font-size, 5, $ci_scale));      // 39px

// Breakpoints go here
$ci_break-tablet-portrait: 768px;

// CSS3 animation functions go here
$ci_easing: cubic-bezier(0.250, 0.460, 0.450, 0.940);

.ci_font-size    { font-size: $ci_font-size; }
.ci_header-size  { font-size: $ci_header-size; }
.ci_smaller-font { font-size: $ci_smaller-font; }
.ci_small-font   { font-size: $ci_small-font; }
.ci_large-font   { font-size: $ci_large-font; }
.ci_big-font     { font-size: $ci_big-font; }
.ci_bigger-font  { font-size: $ci_bigger-font; }
.ci_biggest-font { font-size: $ci_biggest-font; }
.ci_huge-font    { font-size: $ci_huge-font; }
