$banner_link_padding_tb: 10px;
$banner_link_padding_lr: 15px;

$min_wrapper_width: floor(modular-scale($ci_font-size, 24, $ci_scale));
$wrapper_width: floor(modular-scale($ci_font-size, 28, $ci_scale));
