$global_border-radius: 5px

$logo_width: 200px

$table_cell_padding: 10px
$banner_link_padding_tb: 15px
$banner_link_padding_lr: $banner_link_padding_tb
$banner_top_padding: 50px

$content_padding_lr: 15px
$sidebar_padding_lr: 10px

$medium_size: 50px
$thumb_size: $medium_size
$small_size: 35px
$tiny_size: 27px
