<% if @employee && @statuses -%>
  <% @statuses.each do |day, statuses| -%>
    <h3><%= l(day) %></h3>
    <ul>
      <%= render :partial => 'status', :collection => statuses %>
    </ul>
  <% end -%>
  <%= render :partial => 'form', :locals => { :employee => @employee, :status => @employee.statuses.build } %>
<% else -%>
  <ul>
    <% @employees.each do |employee| -%>
      <li><%= link_to employee.full_name, employee_statuses_path(employee) %></li>
    <% end -%>
  </ul>
<% end -%>