// 425px

.ui-widget
  .weekday-and-time
    +clearfix

    .weekday
      width: 100%
      padding-bottom: 1.5385em
      font-size: $font-size_smaller
      +clearfix

      label
        margin-right: 0

      input
        margin-left: 6px

    .start-time
      clear: left
      margin-left: 0

    .start-time,
    .end-time
      display: block
      float: left
      width: 30%
