<div class="inputs">
  <div class="input required">
    <label class="required" for="account_name">{{t 'activerecord.attributes.setup.account_name'}}</label>
    {{input valueBinding="accountName" id="account_name"}}
  </div>
</div>
