[role=banner]
  nav:not(.user-navigation) ul li a
    width: 20px
    // height: 50px
    white-space: nowrap
    overflow: hidden
    padding: $banner_link_padding_tb - 5px $banner_link_padding_lr $banner_link_padding_tb

    &:before
      margin-left: 0.2em
      margin-right: 1.5em
      font-size: $font-size_large

    &.icon-news:before
      margin-left: 0.35em

  nav ul li.dropdown li a
    width: auto
