<li class="<%= default_status.status.underscore %>">
  <%= link_to t(:status_from_to, :from => l(default_status.start, :format => :time), :to => l(default_status.end, :format => :time)), edit_employee_default_status_path(employee, default_status) %>
</li>