<table>
  <tbody>
    <%= render :partial => 'employee', :collection => @employees %>
  </tbody>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <% days_of_week.each do |day_of_week| -%>
        <th><%= t(:'date.day_names')[day_of_week] %></th>
      <% end -%>
    </tr>
  </thead>
</table>

<%= render :partial => 'sidebar' %>
