<table>
  <thead>
    <tr>
      <th><%= t(:employee_id, :scope => [:activerecord, :attributes, :status]) %></th>
      <th></th>
      <% 0.upto(6) do |day_of_week| -%>
        <th><%= t(:'date.day_names')[day_of_week] %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'employee', :collection => @employees %>
  </tbody>
</table>

<%= render :partial => 'sidebar' %>
