<h3><%= t(:new_qualification) %></h3>

<% form_for Qualification.new do |f| %>
	<input type="hidden" name="_method" value="" />
  <fieldset>
  	<fieldset>
  	  <div>
  	    <%= f.label :name %>
  	    <%= f.text_field :name %>
  	  </div>
    </fieldset>
  	<%= f.submit t(:save) %>
  </fieldset>
<% end %>