<% content_tag_for(:li, qualification, :class => "resource", :'data-form-values' => qualification.form_values_json) do -%>
  <div class="color"></div>
	<div class="actions">
		<%= link_to(t(:destroy), qualification_path(qualification), :class => 'delete', :method => :delete) %>
	</div>
	<h2><%= qualification.name %></h2>
<% end -%>