%table#qualifications
  %thead
    %tr
      %th= Qualification.human_attribute_name(:name)
      - if can? :edit, Qualification
        %th= t('action')

  %tbody
    - qualifications.each do |qualification|
      %tr
        %td= qualification.name
        - if can? :edit, Qualification
          %td= link_to :edit, [:edit] + nested_resources_for(qualification),
            class: 'button button-small'
