<% if @employee -%>
  <% @employee.default_availabilities.group_by(&:day_of_week).sort_by(&:first).each do |day_of_week, default_availabilities| -%>
    <h3><%= t(:'date.day_names')[day_of_week] %></h3>
    <ul>
      <%= render :partial => 'default_availability', :collection => default_availabilities %>
    </ul>
  <% end -%>
  <%= render :partial => 'form', :locals => { :default_availability => @employee.default_availabilities.build } %>
<% else -%>
  <% @employees.each do |employee| -%>
    <%= link_to employee.full_name, employee_default_availabilities_path(employee) %>
  <% end -%>
<% end -%>