        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-add {
          &:before {
            content: "\f067";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-edit {
          &:before {
            content: "\f0ad";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-destroy {
          &:before {
            content: "\f00d";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-copy_week {
          &:before {
            content: "\f079";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-comment {
          &:before {
            content: "\f075";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-no_comment {
          &:before {
            content: "\f0e5";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-reply {
          &:before {
            content: "\f053";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-envelope {
          &:before {
            content: "\f0e0";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-info_link {
          &:before {
            content: "\f015";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-dashboard {
          &:before {
            content: "\f0e4";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-organization {
          &:before {
            content: "\f024";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-plans {
          &:before {
            content: "\f073";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-news {
          &:before {
            content: "\f0e7";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-employees {
          &:before {
            content: "\f007";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-teams {
          &:before {
            content: "\f0e8";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-templates {
          &:before {
            content: "\f044";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-qualifications {
          &:before {
            content: "\f0f4";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-settings {
          &:before {
            content: "\f013";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-signup {
          &:before {
            content: "\f007";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-signout {
          &:before {
            content: "\f08b";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-signin {
          &:before {
            content: "\f090";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-expand {
          &:before {
            content: "\f0da";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-collapse {
          &:before {
            content: "\f0d7";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-hide {
          &:before {
            content: "\f0d9";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-check {
          &:before {
            content: "\f00c";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-notice {
          &:before {
            content: "\f00c";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-info {
          &:before {
            content: "\f00c";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-warning {
          &:before {
            content: "\f071";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-error {
          &:before {
            content: "\f071";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-alert {
          &:before {
            content: "\f071";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-bell {
          &:before {
            content: "\f0f3";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-bell_empty {
          &:before {
            content: "\f0a2";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-scheduling {
          &:before {
            content: "\f073";
          }
        }

        // THIS HAS BEEN COMPILED, DON'T EDIT!
        .icon-post {
          &:before {
            content: "\f0e7";
          }
        }
