{{yield}}

{{#if canManage}}
  <div class="actions">
  {{#unless isNew}}
      <button class="button-warning delete" {{action doDelete view.backRoute}}>Löschen</button>
  {{/unless}}
  <button class="button-success" {{action save view.backRoute}}>{{view.buttonLabel}}</button>
  </div>
{{/if}}
