body {
  padding: 30px;
  padding-top: 60px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

h1 {
  font-size: 2em;
  font-family: Georgia, serif;
  margin-bottom: 0.5em;
}

div.fieldWithErrors input[type=text], div.fieldWithErrors textarea, div.fieldWithErrors select {
  border: 1px solid red;
}

.actions a {
  display: inline-block;
  width: 16px;
  height: 16px; 
  margin: 3px 0 0 4px;
  text-indent: 16px;
  overflow: hidden;
  vertical-align: middle;
}

.actions a.text {
  display: inline;
  text-indent: 0;
  height: auto;
  width: auto;
  overflow: none;
  font-size: 12px;
}

.actions a:first-child {
  margin-left: 0;
}

.actions a.edit {
  background: url(/images/icons/edit.png) no-repeat;
}

.actions a.delete {
  background: url(/images/icons/delete.png) no-repeat right top;
}

#flash {
  padding: 0.5em;
  border: 1px solid #ddd;
  color: #fff;
  margin-bottom: 1em;
  display: none;
}

#flash.notice {
  background-color: green;
}

#flash.error {
  background-color: red;
}

