body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

#logo {
  margin-left: 20px;
}

#home {
  display: inline-block;
  height: 73px;
  width: 250px;
  text-indent: 250px;
  overflow: hidden;
  background: url(/images/logo.png) no-repeat;
}

#main {
  margin: 2em;
  width: 100%;
}

#footer {
  display: none;
  width: 100%;
  padding: 0.5em;
  text-align: center;
	background-color: #a8a8a8;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 24px;
  color: #bbb;
}
h1 .dates {
  float: right;
  padding-left: 1em;
  font-size: 13px;
  line-height: 34px;
}

#main a {
  color: #f9b500;
}

/*
totally craps out on "Employees" etc. ... also, Gorgia??
h2 {
  font-size: 1.5em;
  font-family: Georgia, serif;
  margin-bottom: 0.5em;
}
*/

div.fieldWithErrors input[type=text], div.fieldWithErrors textarea, div.fieldWithErrors select {
  border: 1px solid red;
}

.actions a {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 3px 0 0 4px;
  text-indent: 16px;
  overflow: hidden;
  vertical-align: middle;
}

.actions a.text {
  display: inline;
  text-indent: 0;
  height: auto;
  width: auto;
  overflow: none;
  font-size: 12px;
}

.actions a:first-child {
  margin-left: 0;
}

.actions a.edit {
  background: url(/images/icons/edit.png) no-repeat;
}

.actions a.delete {
  background: url(/images/icons/delete.png) no-repeat right top;
}

#flash {
  padding: 0.5em;
  border: 1px solid #ddd;
  color: #fff;
  margin-bottom: 1em;
  display: none;
}

#flash.notice {
  background-color: green;
}

#flash.error {
  background-color: red;
}

#navigation {
  width: 100%;
  padding: 6px 30px;
	overflow: auto; /* clearfix */
	border-bottom: 1px solid #ddd;
	z-index: 999;
	background-color: #a8a8a8;
}
#navigation li {
  float: left;
  margin-right: 30px;
}
#navigation a {
  color: #fff;
  text-decoration: none;
}
#navigation a:hover, #login_status a:hover {
  text-decoration: underline;
}

#navigation #login_status {
  float: right;
  margin-right: 3em;
  color: #fff;
}
