body {
  margin: 30px;
  margin-top: 60px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

h1 {
  font-size: 2em;
  font-family: Georgia, serif;
  margin-bottom: 0.5em;
}

.ui-tabs-panel {
  height: 500px;
}

div.fieldWithErrors input[type=text], div.fieldWithErrors textarea, div.fieldWithErrors select {
  border: 1px solid red;
}

fieldset {
  border: 1px solid black;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

legend {
  padding: 0 0.5em;
}

fieldset > div {
  margin-bottom: 0.3em;
  clear: left;
}

label {
  display: block;
  cursor: pointer;
  float: left;
  width: 120px;
}

input[type='checkbox'], input[type='radio'] {
  cursor: pointer;
}

#sidebar form h3 {
  color: #000;
}

#sidebar form ul.qualifications {
  overflow: hidden;
}

#sidebar form ul.qualifications li {
  display: inline-block;
  white-space: nowrap;
  width: 110px;
}

#sidebar form ul.qualifications li label {
  display: inline;
  position: relative;
  bottom: 2px;
  float: none;
}

input.w50p {
  width: 90px;
}

input.w30p {
  width: 54px;
}

input.w70p {
  width: 126px;
}

input.w100p {
  width: 190px;
}

.actions a {
  display: inline-block;
  width: 16px;
  height: 16px; 
  margin-left: 4px;
  text-indent: 16px;
  overflow: hidden;
  vertical-align: middle;
}

.actions a.text {
  display: inline;
  text-indent: 0;
  height: auto;
  width: auto;
  overflow: none;
  font-size: 12px;
}

.actions a:first-child {
  margin-left: 0;
}

.actions a.edit {
  background: url(/images/icons/edit.png) no-repeat;
}

.actions a.delete {
  background: url(/images/icons/delete.png) no-repeat -5px top;
}

#flash {
  padding: 0.5em;
  border: 1px solid #ddd;
  color: #fff;
  margin-bottom: 1em;
  display: none;
}

#flash.notice {
  background-color: green;
}

#flash.error {
  background-color: red;
}

#sidebar form > fieldset {
  padding: 0;
  border: 0;
}

#sidebar form > fieldset > legend {
  display: none;
  font-family: Georgia, serif;
  font-size: 1.4em;
  padding: 0;
  margin-bottom: 0.5em;
}

#sidebar fieldset fieldset {
  background-color: #f0f0f0;
  border-color: #ddd;
}

#sidebar fieldset fieldset legend {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-variant: small-caps;
}

#sidebar fieldset fieldset > div {
  margin-left: 10px;
}

#sidebar input[type='submit'] {
  border: 1px solid #ddd;
  padding: 5px 10px 5px 24px;
  background: #f0f0f0 url(/images/icons/ok.png) no-repeat;
  background-position: 5px 7px;
  cursor: pointer;
  font-size: 0.95em;
}