#calendar_container {
  height: 400px;
  overflow-y: scroll;
}

#calendar {
  width: auto;
  border-collapse: collapse;
}

#calendar th, #calendar td {
  padding: 0.2em 0.5em;
  height: 2em;
  width: 14.28%;
}

#calendar th {
  text-align: center;
}

#calendar tbody {
  height: 400px;
  overflow-y: scroll;
}

#calendar td {
  border: 1px solid black;
}

#calendar_labels {
  margin-top: 1.8em;
  float: left;
  width: 4em;
}

#calendar_labels li {
  margin-bottom: 3.8em;
}

#tools {
  width: 200px;
  position: fixed;
  top: 8em;
  right: 4em;
}

#tools h2, #tools ul {
  padding: 0.2em 0.5em;
}

/* bla */
#workplaces {
  margin-bottom: 1em;
}

#workplaces #workplace_1 {
  color: red;
}

#workplaces #workplace_2 {
  color: green;
}

#workplaces #workplace_3 {
  color: orange;
}
