#calendar_container {
  height: 400px;
  overflow-y: scroll;
}

#calendar {
  width: auto;
  position: absolute;
  left: 7em;
}

#calendar #day_of_week_1, #calendar #day_of_week_2, #calendar #day_of_week_3, #calendar #day_of_week_4, #calendar #day_of_week_5, #calendar #day_of_week_6, #calendar #day_of_week_7 {
  position: absolute;
  top: 0em;
  width: 10em;
  padding: 0.2em 0.5em;
}

#calendar h2 {
  text-align: center;
}

#calendar .shifts {
  height: 200px;
  border: 1px solid black;
}

#calendar #day_of_week_1 {
  left: 0em;
}

#calendar #day_of_week_2 {
  left: 10em;
}

#calendar #day_of_week_3 {
  left: 20em;
}

#calendar #day_of_week_4 {
  left: 30em;
}

#calendar #day_of_week_5 {
  left: 40em;
}

#calendar #day_of_week_6 {
  left: 50em;
}

#calendar #day_of_week_7 {
  left: 60em;
}

#calendar_labels {
  margin-top: 1.8em;
  float: left;
  width: 4em;
}

#calendar_labels li {
  margin-bottom: 3.8em;
}

#tools {
  width: 200px;
  position: fixed;
  top: 8em;
  right: 4em;
}

#tools h2, #tools ul {
  padding: 0.2em 0.5em;
}

/* bla */
#workplaces {
  margin: 0;
  margin-bottom: 1em;
}

#workplaces li {
  padding: 0.2em 0.5em;
  cursor: move;
}

.workplace_1 {
  background-color: red;
}

.workplace_2 {
  background-color: green;
}

.workplace_3 {
  background-color: orange;
}
