body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 999;
}
#sidebar {
  position: fixed;
  top: 100px;
  right: 0;
  width: 310px;
  height: 100%;
  padding: 24px 0 12px 28px;
  border-left: 1px solid #ccc;
  background-color: #fff;
  font-size: 12px;
}
#main {
  padding: 124px 360px 24px 24px;
}
/* #footer {
  display: none;
  width: 100%;
  padding: 0.5em;
  text-align: center;
	background-color: #a8a8a8;
} */


