.search_box .close {
  float: right;
  cursor: pointer;
}

.search_box {
  display: none;
  position: absolute;
  top: 150px;
  left: 150px;
  width: 900px;
  height: 300px;
  padding: 2em;
  background-color: #fff;
  border: 1px solid #999;
  -moz-box-shadow: 5px 5px 0px #ccc;
  -webkit-box-shadow: 5px 5px 0px #ccc;
}

.search_box h3 {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 0.5em;
}