#sidebar #staff_requirements {
  margin-top: 16px;
}

#sidebar #staff_requirements, 
#sidebar #staff_requirements ul {
  width: 350px;
}

#sidebar #staff_requirements .staff_requirement_container {
  display: block;
  height: 25px;
}

#sidebar #staff_requirements .staff_requirement_container ul {
  display: inline;
}

#sidebar #staff_requirements .staff_requirement_container h3 {
  margin: 0.5em 0 0.5em 0;
  display: block;
  clear: left;
  float: left;
  width: 80px;
  font-size: 1em;
}

#sidebar .staff_requirement {
  width: 20px;
  height: 20px; 
  background: #ddd url(http://github.com/images/gravatars/gravatar-20.png) no-repeat;
  border: 1px solid #ddd;
  display: block;
  float: left;
  margin-right: 0.2em;
  cursor: pointer;
}

#sidebar .staff_requirement.new {
  background: green;
  color: #fff;
  text-align: center;
  margin-right: 0.1em; /* huh? */
  font-size: 1.4em;
}
