{{#link-to 'unavailabilities.edit' view.content}}
{{view.content.startTime}}-{{view.content.endTime}}
{{/link-to}}

<span class="reason">
  {{view.content.reasonText}}
  {{#if view.content.description}}
  <span class="description">{{view.content.description}}</span>
  {{/if}}
</span>
