.module.notifications
  %header
    %h2
      = t('notifications.caption')
      %span.count= notifications.count

      -# TODO ticket #505710
      %a.side-link{style: 'display: none'} See all
  .content
    = render 'notifications/list', notifications: notifications.for_dashboard
    = link_to :show_all, notifications_path
