.dropdown-menu
  - if notifications.empty?
    %ul.notifications
      = render "notifications/all_done"
  - else
    #mark_all_as_read.global-action= link_to :mark_all_as_read,
      mark_notifications_as_read_path(notifications: notifications.map(&:id).join(',')),
      method: :put, remote: true
    %ul.notifications
      - notifications.each do |notification|
        = render "notifications/notification", notification: notification
  .global-action= link_to :show_all, notifications_path
