= simple_form_for nested_resources_for(attached_document), remote: true do |f|
  .inputs
    = f.input :file
    = f.input :milestone_id, collection: attached_document.plan.milestones,
      include_blank: true, input_html: { class: 'chosen-select' }
  .actions
    = f.responsive_submit_button :upload

