%li.attached_documents
  .name= item.name
  .size=number_to_human_size item.file.size, precision: 2, si: true
  - if item.milestone
    .milestone= item.milestone.name
  - if item.uploader
    .uploader= item.uploader.name
