#employees {
  width: 1000px;
}

#employees .employee {
  width: 250px;
  float: left;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 0 1em 1em 0;
  vertical-align: top;
  cursor: pointer;
}

#employees .employee.inactive {
  background-color: #eee;
}

#employees .employee h2 {
  font-weight: bold;
  margin: 0.25em 0;
}

#employees .employee .qualifications {
  font-style: italic;
  font-size: 0.8em;
}

#employees .employee img {
  float: left;
  margin-right: 1em;
  border: 1px solid #ddd;
}

#employees .employee .actions {
  float: right;
}

form.edit_employee .right_column, form.new_employee .right_column {
  float: right;
  margin-left: 1em;
  width: 200px;
  font-size: 0.8em;
}

.right_column .photo {
  margin-bottom: 1em;
}

.right_column .photo p {
  margin-top: 0.5em;
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
}

.possible_workplaces {
  margin-top: 0.5em;
}

.possible_workplaces li {
  margin-bottom: 0.25em;
}

.possible_workplaces .color {
  width: 0.8em;
  height: 0.8em;
  float: left;
  margin-right: 0.5em;
  border: 1px solid #ddd;
}