.plan {
	width: 865px;
	padding-right: 320px;
}
.plan h2 {
	margin-top: 1.5em;
	font-size: 1.3em;
	font-weight: normal;
	color: #bbb;
}
.plan .day:first-child h2 {
	margin-top: 0;
}
.plan .shifts {
	margin-top: 1em;
	border-style: solid;
	border-color: #aaa;
	border-width: 1px 0;
	background-image: url(/images/plan_scale.png);
	min-height: 38px;
}
.plan .shift {
	position: relative;
	min-height: 38px;
	/*margin: -1px 0;
	 border: 1px solid #aaa;*/
	/*border-left: 1px solid #aaa;*/
	/*cursor: move;*/
}
.plan .requirements > li {
	float: left;
	margin: 4px 0 0 4px;
}
.plan .requirement {
	float: left;
	display: block;
	width: 30px;
	height: 26px;
	border-style: solid;
	border-bottom-width: 4px;
	border-color: transparent;
	background-image: url(http://github.com/images/gravatars/gravatar-30.png);
}
.plan .assignment {
	display: block;
	height: 26px;
	width: 30px;
	text-indent: 30px;
	overflow: hidden;
	z-index: 999;
}
.plan .actions {
  float: right;
	margin: 10px 10px 0 0;
}
.plan h3 {
	float: right;
	margin: 1em 0.6em 0 0;
	font-size: 0.85em;
	/*font-style: italic;*/
	color: #666;
}
#cursor {
	position: absolute;
	cursor: pointer;
	display: hidden;
	height: 32px;
	width: 32px;
}
.poof {
	background: transparent url(/images/poof.png) no-repeat 0 0;
}
.plan .shifts .removing * {
  display: none;
}
.plan .shifts .resize_handle {
	position: absolute;
	display: block;
	top: 0;
	height: 100%;
	width: 10px;
	cursor: col-resize;
}
.plan .shifts .resize_handle.left {
	left: 0;
	cursor: w-resize;
}
.plan .shifts .resize_handle.right {
	right: 0;
	cursor: e-resize;
}

.plan .shifts .unsuitable_workplace {
  background-color: #ccc;
}

