#list {
  width: 69%;
}

#list .resource {
  width: 27%;
  float: left;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 0 2% 2% 0;
  vertical-align: top;
  cursor: pointer;
}

#list .resource.inactive {
  background-color: #f6f6f6;
  color: #aaa;
}

#list .resource .color {
  float: left;
  margin-right: 1em;
  border: 1px solid #ddd;
  width: 60px;
  height: 60px;
}
#list .inactive .color {
  background-color: #f6f6f6;
}

#list .resource h2 {
  font-weight: bold;
  margin: 0.25em 0;
}

#list .resource .qualifications {
  font-style: italic;
  font-size: 0.8em;
}

#list .resource img {
  float: left;
  margin-right: 1em;
  border: 1px solid #ddd;
}

#list .resource .actions {
  float: right;
}

.possible_workplaces {
  margin-top: 0.5em;
}

.possible_workplaces li {
  margin-bottom: 0.25em;
}

.possible_workplaces .color {
  width: 0.8em;
  height: 0.8em;
  float: left;
  margin-right: 0.5em;
  border: 1px solid #ddd;
}