#workplaces {
  width: 1000px;
}

#workplaces .workplace, #inactive_workplaces .workplace {
  width: 250px;
  float: left;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 0 1em 1em 0;
  vertical-align: top;
  cursor: pointer;
}

#inactive_workplaces {
  clear: left;
}

#inactive_workplaces .workplace.inactive {
  background-color: #eee;
}

#workplaces .workplace h2, #inactive_workplaces .workplace h2 {
  font-weight: bold;
  margin: 0.25em 0;
}

#workplaces .workplace .color, #inactive_workplaces .workplace .color {
  float: left;
  margin-right: 1em;
  border: 1px solid #ddd;
  width: 60px;
  height: 60px;
}

#workplaces .workplace .qualifications, #inactive_workplaces .workplace .qualifications {
  font-style: italic;
  font-size: 0.8em;
}

#workplaces .workplace img, #inactive_workplaces .workplace img {
  float: left;
  margin-right: 1em;
}

#workplaces .workplace .actions, #inactive_workplaces .workplace .actions {
  float: right;
}

form.new_workplace .color_picker, form.edit_workplace .color_picker {
  position: relative;
  left: 120px;
}

form.new_workplace .right_column, form.edit_workplace .right_column {
  float: right;
  margin-left: 1em;
  width: 200px;
  font-size: 0.8em;
}

.right_column .qualified_employees {
  margin-top: 0.5em;
}

.qualified_employees li {
  height: 25px;
  vertical-align: middle;
  padding: 7px 0 0 35px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

#sidebar #staff_requirements, #sidebar #staff_requirements ul {
  width: 350px;
}

#sidebar #staff_requirements .staff_requirement_container {
}

#sidebar #staff_requirements .staff_requirement_container ul {
  display: inline;
}

#sidebar #staff_requirements .staff_requirement_container h3 {
  margin: 0.75em 0 0.25em 10px;
  display: inline-block;
  width: 120px;
  font-size: 1em;
}

#sidebar .staff_requirement {
  width: 30px;
  height: 30px; 
  background: #ddd url(http://github.com/images/gravatars/gravatar-30.png) no-repeat;
  border: 1px solid #ddd;
  display: inline-block;
  margin-right: 0.25em;
  cursor: pointer;
}

#sidebar .staff_requirement.new {
  background: green;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}