#workplaces {
  width: 1000px;
}

.workplace {
  width: 250px;
  float: left;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 0 1em 1em 0;
  vertical-align: top;
  cursor: pointer;
}

.workplace h2 {
  font-weight: bold;
  margin: 0.25em 0;
}

.workplace .color {
  float: left;
  margin-right: 1em;
  border: 1px solid #ddd;
  width: 60px;
  height: 60px;
}

.workplace .tags {
  font-style: italic;
  font-size: 0.8em;
}

.workplace img {
  float: left;
  margin-right: 1em;
}

.workplace .actions {
  float: right;
}

form.new_workplace .color_picker, form.edit_workplace .color_picker {
  position: relative;
  left: 120px;
}