- if user_signed_in?
  - if current_user.is_multiple?
    %ul
      %li.dropdown
        %a{href: '#', 'data-toggle' => 'dropdown'}= Organization.model_name.human count: 9001
        %ul
          - current_user.joined_organizations.each do |org|
            %li= link_to org.name, nested_resources_for(org)
