- if user_signed_in?

  - if current_user.accounts.count > 1
    %ul
      %li.dropdown
        %a{href: '#', 'data-toggle' => 'dropdown'}= Account.model_name.human count: 9001
        %ul.account-dropdown
          - current_user.accounts.order(:name).each do |account|
            %li= link_to account.name, account_path(account)
  - else
    %ul
      - if account = current_user.accounts.first
        = li_link account.name, account_path(account), class: 'account'
        = render 'accounts/navigation_links', account: account
