- if user_signed_in?
  - if current_user.is_multiple?
    %ul
      %li.dropdown
        %a{href: '#', 'data-toggle' => 'dropdown'}= Organization.model_name.human count: 9001
        %ul.organization-dropdown
          - current_user.organizations.each do |org|
            %li= link_to org.name_with_account, nested_resources_for(org)
  - else
    %ul
      - if organization = current_user.organizations.first
        = li_link organization.name, nested_resources_for(organization), class: 'organization', data: { icon: i(:organization) }
        = render 'organizations/navigation_links', organization: organization
