- title :dashboard

.row.dashboard
  .module
    = render 'schedulings/for_dashboard', schedulings: @upcoming
    = render 'posts/for_dashboard', posts: @posts
  .module
    = render 'milestones/for_dashboard', milestones: @milestones
    = render 'notifications/for_dashboard', notifications: @notifications

