- title :dashboard

.row.two-columns.inverted.dashboard
  .primary
    = render 'notifications/for_dashboard', notifications: current_user.notifications
    = render 'schedulings/for_dashboard', schedulings: current_user.schedulings.upcoming
  .secondary
    = render 'posts/for_dashboard', posts: current_user.posts_of_joined_organizations.recent(23)

