- title :dashboard

%h3= t(:'.organizations')
%ul#organizations
- current_user.organizations.each do |org|
  %li= link_to org.name, organization_plans_path(org)
  = render 'plans/list', plans: org.plans


