- title :dashboard

- masterhead_toolbar do  
  - if can? :create, Organization.new(account: current_account)
    = link_to ti(:new_organization), new_account_organization_path(current_account), class: 'button'

.row.two-columns.inverted.dashboard
  .primary
    = render 'notifications/for_dashboard', notifications: current_user.notifications
  .primary
    = render 'schedulings/for_dashboard', schedulings: current_user.schedulings.upcoming
  .secondary
    = render 'posts/for_dashboard', posts: current_user.posts_of_joined_organizations.recent(23)

