- title :dashboard

- if can? :create, Account.new(user_id: current_user.id)
  - masterhead_toolbar do
    = link_to ti(:add_account),
      new_account_path(account: { user_id: current_user.id }),
      class: 'button', data: { icon: i(:add) }, title: ta(:add_account)

.row.two-columns.inverted.dashboard
  .primary
    = render 'notifications/for_dashboard', notifications: current_user.notifications
    = render 'schedulings/for_dashboard', schedulings: current_user.schedulings.upcoming
  .secondary
    = render 'posts/for_dashboard', posts: current_user.posts_of_joined_organizations.recent(23)

