/* For values of $smoothing see
 * http://maxvoltar.com/sandbox/fontsmoothing/ */

=font-smoothing($smoothing)
  -webkit-font-smoothing: $smoothing
  -moz-font-smoothing: $smoothing
  -o-font-smoothing: $smoothing
  -ms-font-smoothing: $smoothing
  font-smoothing: $smoothing
