/* --------------------------------------------------------------------- */
//  _reset-to-plain-list.scss
//  compass version: 0.11.5
//  Created by tatze on 2011-10-07.
/* --------------------------------------------------------------------- */


@mixin _reset-to-plain-list($imp: false) {
    @if $imp {
        margin: 0 unquote($imp);
        padding: 0 unquote($imp);
        list-style-type: none unquote($imp);
    }
    @else {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}
