/* --------------------------------------------------------------------- */
//  _reset-outline-values.scss
//  compass version: 0.11.5
//  Created by tatze on 2011-10-07.
/* --------------------------------------------------------------------- */


@mixin _reset-outline-values() {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    *zoom: 1;
}