/* --------------------------------------------------------------------- */
//  _set_gradient_background.scss
//  compass version: 0.11.5
//  Created by tatze on 2011-10-08.
/* --------------------------------------------------------------------- */


/*  default usage is for buttons with icons
 *  but it can be used to generate gradients more easily too :)
 */

@mixin _set_gradient_background($image: false,
                                $position: 5px 50%,
                                $repeat: no-repeat,
                                $color: #e2e2e2,
                                $percentage: 30%,
                                $direction: top,
                                $inverted: false
                                ) {
    @if $inverted {
        @if $direction == top { $direction: bottom; }
        @else if $direction == bottom { $direction: top; }
        @else if $direction == left { $direction: right; }
        @else if $direction == right { $direction: left; }
    }
    @if $image {
        @include background(image-url($image) unquote($repeat) unquote($position),
                            linear-gradient(unquote($direction), lighten($color, $percentage), $color));
    }
    @else {
        @include background(linear-gradient(unquote($direction), lighten($color, $percentage), $color));
    }
}
