mysql: &MYSQL
  adapter: mysql
  host: localhost
  user: root
  password:

development:
  <<: *MYSQL
  database: shiftplan_development

test: &TEST
  <<: *MYSQL
  database: shiftplan_test

cucumber: &CUCUMBER
  <<: *TEST
  database: shiftplan_cucumber
  
cucumber_ci:
  <<: *CUCUMBER

production:
  <<: *MYSQL
  database: shiftplan_development
