<ul id="workplaces">
  <li id="new_workplace" class="workplace clickable">
    <div class="color" style="background-color:transparent;"></div>
    <h2><%= link_to '[Click to add]', new_workplace_path, :class => 'add dialog clickable_link', :title => 'New workplace' %></h2>
    <p class="qualifications">Click here to add a new workplace</p>
    <div class="actions"></div>
  </li>
  <%= render :partial => 'workplace', :collection => @workplaces.select(&:active?) %>
</ul>
<ul id="inactive_workplaces">
  <%= render :partial => 'workplace', :collection => @workplaces.reject(&:active?) %>
</ul>