%ul
  - schedulings.each do |scheduling|
    %li.scheduling{class: scheduling.css_class, data: scheduling.metadata}
      = abbr_tag scheduling.period, scheduling.period_with_duration, class: 'work_time'
      - if qualification = scheduling.try(:qualification)
        %span.qualification_name
          = qualification.name
      - if scheduling.team
        = abbr_tag scheduling.team_shortcut, scheduling.team_name, class: 'team_name'
