- schedulings.each do |scheduling|
  %div.vertical.scheduling{class: scheduling.css_class, data: scheduling.metadata.merge(filter.stack_metadata_for(scheduling))}
    = abbr_tag scheduling.period_with_zeros, scheduling.period_with_duration, class: 'work_time'
    - if scheduling.employee
      = render 'employees/tiny', employee: scheduling.employee
    - if qualification = scheduling.try(:qualification)
      %span.qualification_name
        = qualification.name
    -# = avatar(scheduling.employee.user, scheduling.employee, :tiny)
    - if scheduling.team
      = abbr_tag scheduling.team_shortcut, scheduling.team_name, class: 'team_name'
