%ul
  - schedulings.each do |scheduling|
    %li.scheduling{class: scheduling.css_class, data: scheduling.metadata}
      = abbr_tag scheduling.hour_range_quickie, scheduling.hour_range_with_duration, class: 'work_time ' + scheduling.css_class
      - if scheduling.employee
        %span.employee_name
          = avatar(scheduling.employee.user, scheduling.employee, :tiny)
          = scheduling.employee.name

      = render 'schedulings/gimmicks', scheduling: scheduling
