%ul
  - schedulings.each do |scheduling|
    %li.scheduling{class: scheduling.css_class, data: scheduling.metadata}
      = abbr_tag scheduling.period_with_zeros, scheduling.period_with_duration, class: 'work_time'
      - if scheduling.employee
        %span.employee_name
          = avatar(scheduling.employee.user, scheduling.employee, :tiny)
          %span.name= scheduling.employee.name
      - if qualification = scheduling.try(:qualification)
        %span.qualification_name
          = qualification.name
