.has-calendar[role="content"].two-columns.inverted {
  .where-and-who-am-i {
    margin-top: 0;
    margin-left: -20px;
    margin-right: -20px;
  }

  .primary {
    margin-left: -211px;
    padding-left: 211px;
    width: 100%;
    position: relative;
    z-index: -1;
  }

  .secondary {
    padding: 27px 0 0 0;
    margin-left: -$banner_link_padding_lr;
    margin-right: 20px;
    background: $ci_sidebar_bg-color;
    width: 191px;
  }
}

.calendar {
  abbr {
    border-bottom: none;
  }

  thead {
    th:not(:first-child) {
      border-left: 1px solid $ci_midgrey;
      text-align: center;
    }

    &.tableFloatingHeader {
      @include box-shadow($ci_lightgrey 0 5px 10px 0);

      z-index: 101;
    }
  }

  tbody th, td {
    padding: 2px;
    border-bottom: 1px solid $ci_midgrey;
    height: 50px;
    vertical-align: top;

    &:not(:first-child) {
      border-left: 1px solid $ci_midgrey;
    }
  }

  tr:last-child {
    th, td {
      border-bottom: 1px solid $ci_grey;
    }
  }

  th {
    color: $ci_anthracite;
  }

  td {
    width: 12%; // == 84%
    @include transition(background-color 0.5s ease-in-out);

    &.focus {
      @include z-index(30);
      background: #ABC6D8;
      @include transition(background-color 0.1s ease-in-out);
    }

    &.outside_plan_period {
      background-color: $ci_lightgray;
      border-color: $ci_lightgray;
    }
  }

  tbody.editable {
    td.focus {
      background: #ABC6D8 image-url('plus.png') bottom center no-repeat;
    }

    .scheduling:hover,
    .scheduling abbr:hover {
      cursor: pointer;
    }
  }

  .cellwrap {
    position: relative;
  }

  td, th {
    &.today {
      background: lighten(#ABC6D8, 15%);
    }

    &.employee,
    &.team {
      width: 16%;
      padding: 8px 5px;
    }
  }

  .team .pibble {
    margin-bottom: 6px; // prevent text beyond due to linebreak
  }

  img.avatar.tiny {
    float: left;
    margin-right: 0.25em;
    max-height: 20px;
    max-width:  20px;
  }

  .wwt_diff {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid $ci_lightgrey;
    font-size: 10px;
  }

  .weekly_working_time {
    font-weight: normal;
  }

  .badge {
    border-radius: 10px;
    float: right;
    padding: 2px 6px 1px;
    background: $ci_darkgrey;
    color: #fff;
    text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.25);
    font-weight: normal;

    &.badge-success {
      background: $ci_green;
    }
    &.badge-important {
      background: $ci_darkorange;
    }
    &.badge-warning {
      background: $ci_darkyellow;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 5px 0 20px 0;
    font-size: $ci_small-font;

    &.weekswitch {
      display: inline-block;
      margin: 0;
      white-space: nowrap;

      a {
        font-weight: normal;
        font-size: $ci_font-size;
      }
      .dropdown {
        &:hover > a {
          @include box-shadow(0 0 .35em transparentize($ci_blue, .2));

          border-radius: $ci_border-radius $ci_border-radius 0 0;
          border-color: $ci_blue;
          color: $ci_anthracite;
        }
        &> ul {
          top: 17px;
          border-top: 1px solid $ci_blue;
        }
      }
    }

    &.comments {
      display: none;
    }

  }

  tbody.editable {
    td {
      .cellwrap {
        &:hover {
          @extend %with-icon;
          @extend .icon-add;
          &:before {
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -0.5em;
            color: $ci_green;
            text-shadow: 1px 1px $ci_shadow;
          }
        }
      }
    }
  }
}

.calendar-active-week {
  // font-weight: bold;
}

.calendar-description {
  color: $ci_darkgrey;
  margin: 0.25em 0;
  line-height: 1.15;
}
