.calendar {
  thead {
    @include z-index(101);

    th:not(:first-child) {
      border-left: 1px solid $ci_midgrey;
      text-align: center;
    }
  }

  tbody th, td {
    padding: 2px;
    border-bottom: 1px solid $ci_midgrey;

    &:not(:first-child) {
      border-left: 1px solid $ci_midgrey;
    }
  }

  tbody th {
    width: 16%;
  }

  td {
    width: 12%; // == 84%

    &.focus {
      @include box-shadow(#aaa 0px 0px 30px 0px);
      @include border-radius(5px);
      @include z-index(30);
    }
  }
}
