.calendar
  abbr
    border-bottom: none

  thead
    th
      white-space: nowrap

      &:not(:first-child)
        border-left: 1px solid $ci_midgrey
        text-align: center

    &.tableFloatingHeader
      box-shadow: $ci_lightgrey 0 5px 10px 0
      z-index: 101

  tbody th,
  td
    padding: 2px
    border-bottom: 1px solid $ci_midgrey
    height: 50px
    vertical-align: top

    &:not(:first-child)
      border-left: 1px solid $ci_midgrey

  tr:last-child
    th,
    td
      border-bottom: 1px solid $ci_grey

  th
    color: $ci_anthracite

  td
    width: 12%
    // == 84%
    +transition(background-color 0.5s ease-in-out)

    &.focus
      +z-index(30)
      background: #ABC6D8
      +transition(background-color 0.1s ease-in-out)

    &.outside_plan_period,
    &.outside_plan_period.focus
      background-color: $ci_lightgray
      border-color: $ci_lightgray

  tbody.editable
    td.focus
      background: #abc6d8 image-url("plus.png") bottom center no-repeat

    td.outside_plan_period.focus
      background: $ci_lightgray

    .scheduling:hover,
    .scheduling abbr:hover
      cursor: pointer

  .cellwrap
    position: relative

  td,
  th
    &.today
      background: lighten(#abc6d8, 15%)

    &.employee,
    &.team
      width: 16%
      padding: 8px 5px

  .team .pibble
    // prevent text beyond due to linebreak
    margin-bottom: 6px

  .employee.suspended
    text-decoration: line-through

  .avatar
    float: left
    margin-right: 0.5em

  .wwt_diff
    clear: left
    margin-top: 5px
    padding-top: 5px
    border-top: 1px solid $ci_lightgrey
    font-size: 10px

  .weekly_working_time
    font-weight: normal

  .badge
    border-radius: 10px
    float: right
    padding: 2px 6px 1px
    background: $ci_darkgrey
    color: #fff
    text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.25)
    font-weight: normal

    &.badge-success
      background: $ci_green

    &.badge-important
      background: $ci_darkorange

    &.badge-warning
      background: $ci_darkyellow

  .date-without-year
    margin-left: 0.25em
    font-weight: normal
    color: $ci_darkgrey

  ul
    list-style: none
    padding: 0
    margin: 5px 0 20px 0
    font-size: $font-size_small

    &.weekswitch
      display: inline-block
      margin: 0
      white-space: nowrap

      a
        font-weight: normal
        font-size: $font-size

    &.comments
      display: none

.calendar-description
  color: $ci_darkgrey
  margin: 0.25em 0
  line-height: 1.15
