/*
 *  We try to copy google calendar's layout: Basically, they use a table for the
 *  columns, but only one row for the content itself, because schedulings can span
 *  over multiple hours.
 *
 *  Downside: we have to set the height of "rows" and schedulings per css
 *
 *  see hours_in_week.html.haml */

table.hours-in-week
  // reset common styles
  thead th
    padding: 2px 10px

  tbody tr
    background: image-url("grid4.png") repeat 0px 2px

  tr:last-child th,
  .calendar tr:last-child td
    border-bottom: none

  // and set the desired ones
  // see background image gaps
  $row_height: 40px

  th.hours
    width: 2%

    div
      height: $row_height + $font-size * $line-height / 2
      padding: 0 15px 0 0
      text-align: right
      margin-top: -($font-size * $line-height / 2)

      &:first-child
        visibility: hidden

      &:last-child
        border-bottom: none

  td
    outline: none

    &.today
      background: rgba(70, 127, 168, 0.18)

    .vertical
      position: absolute
      overflow: hidden

    .scheduling
      .gimmicks
        height: 100%

      &.focus,
      &:focus,
      &:hover
        +box-shadow(black 0px 0px 20px 1px)
        // override inline styles set by JS
        width: 100% !important
        left: 0 !important
        z-index: 1000 !important
        opacity: 0.9

      //  runs til n-1 (24)
      @for $hour from 0 to 25
        &[data-start="#{$hour}"]
          top: $row_height * $hour + 1px
        &[data-start="#{$hour}.25"]
          top: $row_height * ($hour + 0.25) + 1px
        &[data-start="#{$hour}.5"]
          top: $row_height * ($hour + 0.5) + 1px
        &[data-start="#{$hour}.75"]
          top: $row_height * ($hour + 0.75) + 1px
        &[data-length="#{$hour}"]
          height: $row_height * $hour + 1px
        &[data-length="#{$hour}.25"]
          height: $row_height * ($hour + 0.25) + 1px
        &[data-length="#{$hour}.5"]
          height: $row_height * ($hour + 0.5) + 1px
        &[data-length="#{$hour}.75"]
          height: $row_height * ($hour + 0.75) + 1px

        // for schedulings <2h, blow up to 2h to show all information
        @if $hour <= 1
          &[data-length="#{$hour}"],
          &[data-length="#{$hour}.25"],
          &[data-length="#{$hour}.5"],
          &[data-length="#{$hour}.75"]
            &.focus,
            &:hover,
            &:focus
              height: $row_height * 2 + 1px !important
