.scheduling {
  overflow: hidden;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 10px;
  // border styles have to be defined seperately for
  // changing the colors (top and bottom) by inline css
  border-width: 1px;
  border-top-width: 3px;
  border-bottom-width: 2px;
  border-style: solid;
  border-left-color:  $ci_grey;
  border-right-color: $ci_grey;
  @include border-radius(2px);
  @include transition (height 0.25s ease, width 0.25s ease, left 0.25s ease, right 0.25s ease);

  .team_name,
  .employee_name,
  .work_time {
    display: block;
    padding: 0 3px;
  }

  .team_name,
  .employee_name {
    background: $ci_darkwhite;
    border-top:    1px solid $ci_midgrey;
    border-bottom: 1px solid $ci_midgrey;
    // @include box-shadow($ci_midgrey 0px 1px 5px 0px inset);
    padding: 2px 4px 3px 4px;
    line-height: 14px;
  }

  &.focus, &:focus, &:hover {
    @include box-shadow($ci_darkgrey 0px 0px 20px 3px);

    .team_name,
    .employee_name {
      background: #fff;
    }
  }

  .gimmicks {
    padding: 0 5px;
    text-align: right;

    a.comments {
      padding-left: 15px;
    }
  }

}

div[class*="team_"].scheduling,
li[class*="team_"].scheduling {
  background: white;
}
