.scheduling {
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 10px;
  // border styles have to be defined seperately for
  // changing the colors (top and bottom) by inline css
  border-width: 1px;
  border-top-width: 3px;
  border-bottom-width: 2px;
  border-style: solid;
  border-left-color:  $ci_grey;
  border-right-color: $ci_grey;
  border-radius: 2px;

  @include transition (height 0.25s ease, width 0.25s ease, left 0.25s ease, right 0.25s ease);

  .team_name,
  .employee,
  .work_time {
    display: block;
    padding: 0 3px;
  }

  .team_name,
  .employee {
    background: $ci_darkwhite;
    border-top:    1px solid $ci_midgrey;
    border-bottom: 1px solid $ci_midgrey;
    // @include box-shadow($ci_midgrey 0px 1px 5px 0px inset);
    padding: 2px 4px 3px 4px;
    line-height: 14px;
  }

  .gimmicks {
    padding: 0 5px;
    text-align: right;

    a.comments,
    a.no-comments {
      padding-left: 2px;
      @extend %with-icon;
      @extend .icon-comment;
    }

    a.no-comments {
      color: $ci_blue;
      @extend .icon-no_comment;

      &:hover {
        color: $ci_blue_hover;
      }
    }
  }

  &.early {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -2px;

    .work_time {
      padding-top: 5px;
    }
  }

  &.late {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -2px;

    .gimmicks {
      padding-bottom: 5px;
    }
  }

  &.early:before,
  &.late:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-size: 8px 16px;
    background-repeat: repeat-x;
  }

  &.early:before {
    top: -10px;
    height: 15px;
  }

  &.late:before {
    bottom: 0;
    height: 5px;
  }

  &.focus {
    @include box-shadow($ci_darkgrey 0px 0px 20px 3px);

    .team_name,
    .employee {
      background: #fff;
    }
  }
}

div[class*="team_"].scheduling,
li[class*="team_"].scheduling {
  background: white;
}


table tbody tr {
  .scheduling.early:before,
  .scheduling.late:before {
    @include background-image(linear-gradient(45deg, transparent 34%, white 34%, white 66%, transparent 66%), linear-gradient(315deg, transparent 34%, white 34%, white 66%, transparent 66%));
  }
}
table tbody tr:nth-child(even) {
  .scheduling.early:before,
  .scheduling.late:before {
    @include background-image(linear-gradient(45deg, transparent 34%, $ci_table_zebra 34%, $ci_table_zebra 66%, transparent 66%), linear-gradient(315deg, transparent 34%, $ci_table_zebra 34%, $ci_table_zebra 66%, transparent 66%));
  }
}

label[for=scheduling_quickie] {
  display: none;
}
