jQuery(document).ready ->

  $('#user_email').on 'blur', ->
    $(this).mailcheck
      suggested: (element, suggestion) ->
        $('span.mailcheck-suggestion').remove()
        $(element).parent().append "<span class='help-inline mailcheck-suggestion'><%= I18n.t('hint.did_you_mean')%> <a href='#'>" + suggestion.full + "</a>?</span>"

      empty: (element) ->
        $('span.mailcheck-suggestion').remove()

  $('span.mailcheck-suggestion a').live 'click', (event) ->
    event.preventDefault()
    $("#user_email").val $(this).html()
    $('span.mailcheck-suggestion').remove()

