%p.comments-count
  = link_to ti(:'comments_count', count: post.comments.count, :'non-white' => true), (account_organization_blog_post_path(current_account, post.organization, post.blog, post) + '#comments')
