%ul#posts
  - posts.each do |post|
    %li{class: 'post', id: "post_#{post.id}"}
      = render('posts/post', :post => post)
      %p.further_reading_and_comment= link_to(:'further_reading_and_comment', [current_organization, post.blog, post])

  = will_paginate(posts, custom_link_url: organization_path(current_organization) )
