%ul#posts
  - posts.each do |post|
    %li{class: 'post', id: "post_#{post.id}"}
      = render('posts/post', post: post, truncation: true)
      %p.more= link_to(:'more', [current_organization, post.blog, post])
