- title t(:'blogs.company_news')

- if can? :create, parent.posts.new
  - masterhead_toolbar do
    = link_to ta(:add, translation_key: 'posts.new'), [:new] + nested_resources_for(parent) + [:post], |
      class: 'button button-add', remote: true

.posts
  = render('posts/posts_with_pagination', posts: @posts)
