- title t(:'blogs.company_news')

- if can? :create, company_blog.posts.new
  - masthead_toolbar do
    = link_to ti(:add, translation_key: 'posts.new'), [:new] + nested_resources_for(company_blog), |
      class: 'button', remote: true, data: { icon: i(:add) }

.posts
  = render('posts/posts_with_pagination', posts: @posts)
