- title t(:'blogs.company_news')

- if can? :create, company_blog.posts.new
  - masthead_toolbar do
    = link_to ti(:add, translation_key: 'posts.new'), [:new, current_organization, company_blog, :post], |
        class: 'button', remote: true, 'data-icon' => '&#xf067;'.html_safe

.posts
  = render('posts/posts_with_pagination', posts: @posts)
