- title t(:'blogs.company_news')
- if can? :create, @posts.new
  #actions.btn-toolbar
    = link_to ti(:add, translation_key: 'posts.new'), [:new, current_account, current_organization, current_organization.company_blog, :post], |
      class: 'btn btn-primary', remote: true

.posts
  = render('posts/posts_with_pagination', posts: @posts)
