#actions.btn-group
  = link_to(ti(:back), [current_organization, @post.blog, :posts], class: 'btn btn-primary', id: 'back')
.row
  .post
    %div{id: "post_#{@post.id}"}
      = render('posts/post_details', post: @post, truncation: false)
  = render('posts/comments', comments: @post.comments)
