<ul id="milestones">
  {{#each controller}}
    {{view Shiftplan.ShowMilestoneView milestoneBinding="this"}}
  {{/each}}
  {{#if view.isNewVisible}}
    <li>{{view Shiftplan.NewMilestoneView}}</li>
  {{/if}}
</ul>

<ul class="actions">
  <li>
    <a href="#" {{action "showNew" target="view"}}>neuer Meilenstein</a>
  </li>
</ul>
