<ul class="milestones">
  {{#each milestone in controller}}
    {{view Shiftplan.ShowMilestoneView}}
  {{/each}}
</ul>

<ul class="actions">
  <li>
    <a href="#" {{action "showNewMilestone"}}>neuer Meilenstein</a>
  </li>
</ul>
