<ul class="milestones">
  {{#each controller}}
    {{view Clockwork.ShowMilestoneView}}
  {{/each}}
</ul>

<ul class="actions">
  <li>
    <a href="#" {{action newMilestone}} data-no-icon="&#xf067;">neuer Meilenstein</a>
  </li>
</ul>

{{outlet}}
