<ul class="milestones">
  {{#each controller}}
    {{view Clockwork.ShowMilestoneView}}
  {{/each}}
</ul>

<ul class="actions">
  {{#if can_manage}}
  <li>
    <a href="#" {{action newMilestone}} class="button button-add">neuer Meilenstein</a>
  </li>
  {{/if}}
</ul>

{{outlet}}
