<ul class="milestones">
  {{#each controller}}
    {{view Shiftplan.ShowMilestoneView}}
  {{/each}}
</ul>

<ul class="actions">
  <li>
    <a href="#" {{action newMilestone}}>neuer Meilenstein</a>
  </li>
</ul>

{{outlet}}
