<ul class="milestones">
  {{#each filteredContent}}
    {{view Clockwork.ShowMilestoneView}}
  {{/each}}
</ul>

<ul class="actions">
  {{#if currentUser.canManage}}
  <li>
    {{#link-to 'milestones.new' class="button button-add"}}neuer Meilenstein{{/link-to}}
  </li>
  {{/if}}
</ul>

{{outlet}}
