<ul class="milestones">
  {{#each controller}}
    {{view Shiftplan.ShowMilestoneView}}
  {{/each}}
</ul>

<ul class="actions">
  <li>
    {{#if controller.isLoaded}}
    <a href="#" {{action newMilestone}} data-icon="&#xf067;">neuer Meilenstein</a>
    {{/if}}
  </li>
</ul>

{{outlet}}
