<ul class="milestones">
  {{#each controller}}
    {{view Shiftplan.ShowMilestoneView contentBinding="this"}}
  {{/each}}
</ul>

<ul class="actions">
  <li>
    <a href="#" {{action newMilestone target="view"}}>neuer Meilenstein</a>
  </li>
</ul>
