<ul class="milestones">
  {{#each controller}}
    {{view Clockwork.ShowMilestoneView}}
  {{/each}}
</ul>

<ul class="actions">
  <li>
    <a href="#" {{action newMilestone}} data-icon="&#xf067;" class="button">neuer Meilenstein</a>
  </li>
</ul>

{{outlet}}
