Ununununun

<table style="display:none">
  <thead>
    <tr>
      {{#each day in controller.weekdayNames}}
      <th>{{day}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
  {{#each week in controller.daysGroupedByWeek}}

    <tr>
    {{#each day in week}}
      <td>
        {{day}}
      </td>
    {{/each}}
    <tr>

  {{/each}}
  </tbody>
</table>

{{view Clockwork.MonthlyCalendarView contentBinding='days' columnsBinding='weekdayNames' rowsBinding='weeks' rowHeaderVisible=false}}
