= link_to doable.name, url, class: 'name'
- if doable.due_at
  %div.due_on= l doable.due_at.to_date
- if doable.responsible
  %div.employee.responsible{class: doable.responsible.user_id == current_user.id && 'you'}
    %div.name= doable.responsible.name
- if doable.description.present?
  %div.description= doable.description


