#modalbox {
  ul.comments {
    @extend ul#posts;
    width: 600px;
    li {
      .employee {
        font-weight: bold;
        float: left;
        margin-right: 0.5em;
        &:after {
          content: ':';
        }
      }
      a.reply {
        float: right;
        color: white;
      }
      ul.replies {
        // margin-right: 1em;
        & > .comment {
          border-right: none;
        }
      }
    }
    & + form.new_comment {
      @extend form#new_comment;
    }
  }
  ul.comments, ul.replies {
    margin-left: 15px;
    li {
      border-bottom: none;
    }
  }
  .comment {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 5px 0 0 15px;
    form {
      float: none;
      margin-left: 0;
      .controls {
        float: left;
        textarea {
        }
      }
      button {
        position: relative;
        top: -9px;
      }
    }
  }
  .meta, .own-meta {
    left: 15px;
    font-size: 11px;
  }
  form.new_comment {
    @include clearfix;
    margin-bottom: 1em;
    label[for=comment_body] {
      display: none;
    }
    div.controls {
    }
    textarea {
      width: auto;
    }
    button[type=submit] {
      margin-left: 1em;
    }
  }
}
