/*
 * Styles copied from jotforms.com's wishbox link.
 * Makes our own feedback link look the same.
*/
a.feedback-without-screenshot {
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  position: fixed;
  bottom: 0px;
  font-family: verdana;
  font-size: 15px;
  z-index: 999;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.296875) 0px 0px 5px;
  right: 281px;
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(245, 146, 2);
  color: rgb(255, 255, 255);
  text-shadow: none;
  background-position: initial initial;
  background-repeat: initial initial;
}
a.feedback-without-screenshot:hover {
  text-decoration: none;
  background: #5C5C5C;
  color: white;
}
