$modal_spacing: 9px;

div#modalbox {
  form {
    position: relative;
    .errors {
      margin-top: 9px;
      margin-bottom: 9px;
    }
  }
}

@mixin align-top($direction: left, $spacing: $modal_spacing) {
  position: absolute;
  #{$direction}: $spacing;
  top: $modal_spacing;
}
