textarea#post_body {
  width: 515px;
}
div.blog {
  p.new {
    margin-left: 20px;
  }
}
.post {
  p.actions {
    margin-top: 10px;
  }
}
ul#posts {
  margin-top: 20px;
  margin-left: 20px;
  list-style-type: none;
}
div.post {
  margin-left: 40px;
  margin-top: 7px;
}
.post {
  padding-bottom: 20px;
}
.meta {
  color: #999;
}
.body {
  padding-top: 10px;
  padding-bottom: 5px;
}
.more:after {
  content: " \2192";
}
