textarea#post_body {
  width: 515px;
}
div.blog {
  p.new {
    margin-left: 20px;
  }
}
.post {
  p.actions {
    margin-top: 10px;
    a {
      float: left;
      clear: both;
    }
  }
  input#destroy-post {
    float: right;
  }
  a#back {
    float: left;
    clear: both;
    margin-top: 20px;
  }
}
ul#posts {
  margin-top: 20px;
  margin-left: 20px;
  list-style-type: none;
}
div.post > div {
  float: left;
  clear: both;
  padding-bottom: 20px;
}
div.post {
  margin-left: 40px;
  margin-top: 7px;
  div.comments {
    margin-top: 20px;
    margin-left: 20px;
    h4 {
      margin-bottom: 20px;
    }
    ul#comments {
      list-style-type: none;
      li {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    textarea {
      width: 400px;
      height: 100px;
    }
  }
}
.post {
  padding-bottom: 20px;
}
.meta {
  color: #999;
}
.own-meta {
  color: #D14;
}
.body {
  padding-top: 10px;
  padding-bottom: 5px;
}
.more:after {
  content: " \2192";
}
