// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cell_width: 3.3em;
$cell_border: #ccc;

table#calendar {
  tbody td.focus {
    outline: 0.1em solid blue;
  }
  tbody td {
    cursor: pointer;
    label[for=scheduling_quicky] {
      display: none;
    }
  }

  ul {
    list-style: none;
    padding-left: 0.5em;
  }
}

div.scroller {
  width: 100%;
  overflow: auto;
}

#scheduling_modal {
  ul.calendar_editor {
    list-style: none;
    padding-left: 0.5em;
  }
  form {
    .control-group.quickie {
      margin-bottom: 0;
    }
    position: relative;
    button[type=submit] {
      position: absolute;
      right: 4%;
      top: 19px;
    }
  }
}

