/* --------------------------------------------------------------------- */
/*  print.scss                                                           */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


@import "bootstrap";

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";

/* import custom library */
@import "library/*";

/* from here on, we can re-use bootstrap variables */
// @import "plans";


body {
    @include _reset-outline-values();
    background: white;
    font-size: 12pt;
}

/* hide stuff not interesting on prints */
.navbar,
.pager,
#actions {
    display: none;
}

/* reset interactive stuff */
abbr {
    border-bottom: none;
    background: white;
    font-size: 100%;
}

[class^="team_"], dt.shortcut {
    border: 1px solid grey;
    white-space: nowrap;
    abbr {
        font-size: 13px;
    }
}
#legend di dt.shortcut { /* inc specifity */
    margin-top: 0.4em;
    margin-left: 2em;
}

table#calendar {
    caption {
        margin-bottom: 1.5em;
        font-size: 15px;
        font-weight: bold;
    }
    thead {
        th {
            text-align: center;
            &:first-child, &:last-child {
                text-align: left;
            }
        }
    }
    tbody {
        th {
            font-weight: normal;
        }
    }
}


/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */


/* copy from _plans.css.scss */
/* FIXME just for test purposes! */


@mixin pibble-outer {
    padding: 2px;
    @include border-left-radius(8px);
    @include border-right-radius(3px);
    float: left;
    clear: left;
    margin: 0.6em;
}

@mixin pibble-inner {
    border: 1px solid grey;
    background-color: $white;
    @include border-radius(2px);
    padding: 1px 6px;
    margin-left: 5px;
    display: block; /* do not break if too long */
    text-transform: none; /* instead of uppercase */
}


$table_padding: 3px;
$table_inner_border: 1px; /* hardcoded in bootstrap */

table#calendar {
    tbody td {
        padding: $table_padding;
        cursor: pointer;
        &.hours, &.wwt_diff {
            cursor: auto;
        }
    }
    tbody td.focus {
        @include border-radius(3px);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            @include pibble-outer();
            margin: 6px;
            abbr, span {
                @include pibble-inner();
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &.early {
                margin-left: 0;
                padding-left: 0;
                position: relative;
                left: -($table_padding + $table_inner_border);
                @include border-left-radius(0px);
                abbr, span {
                    margin-left: 0;
                    @include border-left-radius(0px);
                }
            }
            &.late {
                margin-right: 0;
                float: right;
                clear: right;
                position: relative;
                right: -$table_padding;
                padding-right: 0;
                @include border-right-radius(0px);
                abbr, span {
                    margin-right: 0;
                    @include border-right-radius(0px);
                }
            }
        }
    }
}

#legend {
    di {
        display: block;
        float: left;
    }
}
dt.shortcut {
    @include pibble-outer();
    span {
        @include pibble-inner();
    }
}
dd {
    padding: 2px;
    margin: 0.6em;
    float: left;
}
