- scheduling ||= record

%ul.comments
  = render partial: 'comments/item', collection: scheduling.comments

= render 'comments/new', url: organization_plan_scheduling_comments_path(current_organization, scheduling.plan, scheduling)
