- scheduling ||= record
- url = account_organization_plan_scheduling_path(current_account, current_organization, scheduling.plan, scheduling)
= simple_form_for scheduling, url: url, remote: true, html: { class: 'edit_scheduling' } do |f|

  .inputs
    = render 'schedulings/fields', f: f

  .actions
    = link_to ta(:destroy), url, remote: true, method: :delete, class: 'button button-warning delete'
    = f.update_button
