.gimmicks{class: scheduling.css_class}
  - data_icon = (scheduling.comments_count > 0) ? :comment : :no_comment
  - if can? :create, Comment, commentable: scheduling
    = link_to scheduling.comments_count.to_s, [current_account, scheduling.organization, scheduling.plan, scheduling, :comments], title: ta(:comments), remote: true, class: 'comments', data: { icon: i(data_icon) }
