.gimmicks
  - if can? :create, Comment, commentable: scheduling
    = link_to scheduling.comments_count.to_s, [current_account, scheduling.organization, scheduling.plan, scheduling, :comments], title: ta(:comments), remote: true, class: 'comments'
  - if scheduling.comments_count > 0
    = render 'comments/truncated_list', comments: scheduling.comments

