- unless schedulings.empty?
  %ul
    - schedulings.map(&:decorate).each do |s|
      %li{class: s.css_class, data: s.metadata}
        - if s.team
          %abbr{title: s.long, rel: "tooltip"}= s.short
        - else
          %span= s.short
        = link_to icon(:comment) + s.comments_count.to_s, [s.organization, s.plan, s, :comments], title: ta(:comments), remote: true, class: 'comments'
