- unless schedulings.empty?
  %ul
    - schedulings.map(&:decorate).each do |s|
      %li.scheduling{class: s.css_class, data: s.metadata}
        - if s.team
          =show_with_abbr(s.hour_range_with_duration, s.hour_range_quickie, 'work_time')
          =show_with_abbr(s.team_name, s.team_shortcut, 'team_name')
        - else
          =show_with_abbr(s.hour_range_with_duration, s.hour_range_quickie, 'work_time')

        .gimmicks
          - if can? :create, Comment, commentable: s
            = link_to s.comments_count.to_s, [s.organization, s.plan, s, :comments], title: ta(:comments), remote: true, class: 'comments'
          - if s.comments_count > 0
            = render 'comments/truncated_list', comments: s.comments
