.tabbable.well
  %ul.nav.nav-tabs
    %li.active
      %a{href: '#edit', data: { toggle: 'tab'}} Bearbeiten
    %li
      %a{href: '#comments', data: { toggle: 'tab'}} Kommentare
  .tab-content
    #edit.tab-pane.active= render 'edit_form', scheduling: scheduling
    #comments.tab-pane= render 'comments', scheduling: scheduling

