- url = account_organization_plan_schedulings_path(current_account, current_organization, scheduling.plan)
= simple_form_for scheduling, url: url, remote: true do |f|

  .inputs
    = render 'schedulings/fields', f: f

  .actions
    = f.create_button
