- supported = SchedulingFilterDecorator.supported_modes.grep(/week/)
- current = filter.mode.to_sym
%ul.weekswitch
  %li.dropdown
    %a{data: { toggle: 'dropdown' }, href: '#'}
      = t ".#{current}"
    %ul.dropdown-menu
      - (supported - [current]).each do |mode|
        %li
          = link_to t(".#{mode}"), filter.path_to_mode(mode)

