- available = SchedulingFilterDecorator::Modes.grep(/week/)
- current = filter.mode.to_sym
%ul.weekswitch
  %li.dropdown
    %a.button{data: { toggle: 'dropdown' }, href: '#'}
      = t ".#{current}"
    %ul
      - (available - [current]).each do |mode|
        %li
          = link_to t(".#{mode}"), filter.path_to_mode(mode)

