- available = SchedulingFilterDecorator::Modes.grep(/week/)
- current = filter.mode.to_sym
.button-group
  %a.button.active.dropdown-toggle{data: { toggle: 'dropdown' }, href: '#'}
    = t ".#{current}"
  %ul.dropdown-menu
    - (available - [current]).each do |mode|
      %li
        = link_to t(".#{mode}"), filter.path_to_mode(mode)

