- case collection.range
- when :week
  = render 'calendar', filter: collection
  = decorate collection.plan do |plan|
    = plan.scheduling_form_template
- else
  %p= Scheduling.model_name.pluralize :count => collection.count


