= form_tag([:add_members, current_account, current_organization],
  { id: 'add-members', class: 'add-employee' }) do |f|
  = render 'employees/adoptable_employees_table', employees: employees
  .actions
    %button.button-success{ disabled: employees.empty? ? true : false }= ta(:adopt_employee)
