= form_tag([:add_members, current_account, current_organization], { id: 'add-members', class: 'form-horizontal add-employee' }) do |f|
  = render 'employees/other_employees_table', employees: employees
  .actions
    %button.button-success{ disabled: employees.empty? ? true : false }= ti(:adopt_employee)
