= simple_form_for [resource.account, resource] do |f|
  .inputs
    = f.input :name, autofocus: true
  .actions
    = f.responsive_submit_button do
      %i.icon-ok-circle.icon-white
      = ta(resource.persisted? ? :update : :create)
