%table#organizations
  %thead
    %tr.organization
      %th= t('activerecord.attributes.organization.name')

  %tbody
    - organizations.each do |organization|
      %tr
        %th= link_to organization.name, nested_resources_for(organization)
