- title @organization.name_with_account + " " + t(:dashboard)

.row.two-columns.inverted.dashboard
  = render 'schedulings/for_dashboard', schedulings: current_employee.schedulings.upcoming.for_organization(@organization)
  = render 'notifications/for_dashboard', notifications: current_employee.notifications
  = render 'posts/for_dashboard', posts: @organization.posts.recent(15)
