- title @organization.name_with_account + " " + t(:dashboard)

.row.two-columns.inverted.dashboard
  .primary
    = render 'notifications/for_dashboard', notifications: current_employee.notifications
    = render 'schedulings/for_dashboard', schedulings: current_employee.schedulings.upcoming.starting_in_the_next('14 days').for_organization(@organization)
  .secondary
    = render 'posts/for_dashboard', posts: @organization.posts.recent(42)
