- title @organization.name_with_account + " " + t(:dashboard)

.row.two-columns.inverted.dashboard
  = render 'schedulings/for_dashboard', schedulings: @upcoming
  = render 'notifications/for_dashboard', notifications: @notifications
  = render 'posts/for_dashboard', posts: @posts
