%p
  Hallo #{@resource.email}!

%p Thank you for registering at Clockwork.

%p Please confirm your email address by clicking on the following link:

%p= link_to 'Confirm my email address', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p Please note: This email was sent to you because someone registered at Clockwork with your email address. If it was not yourself who registered, you can ignore this email - we will not contact you again.

%p Your Clockwork team
