%p
  Hallo #{@resource.email}!

%p Vielen Dank, dass Sie sich bei Clockwork registiert haben.

%p Sie müssen nur noch Ihre E-Mail Adresse bestätigen, indem Sie auf den folgenden Link klicken:

%p= link_to 'E-Mail Adresse bestätigen', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p Bitte beachten Sie: Sie bekommen diese E-Mail, weil sich jemand mit Ihrer E-Mail Adresse auf Clockwork angemeldet hat. Falls die Anmeldung nicht von Ihnen selbst ist und Sie kein Interesse haben, brauchen Sie gar nichts weiter zu tun - wir werden Sie nicht wieder kontaktieren.

%p Ihr Clockwork Team

