%p
  Hallo #{@resource.email}!

%p Jemand hat das Ändern Ihres Passworts beantragt. Klicken Sie bitte auf den folgenden Link, um Ihr Passwort zu ändern:

%p= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Falls Sie keine Passwortänderung beantragt haben, ignorieren Sie bitte die E-Mail.

%p Ihr Passwort wird nicht geändert, solange Sie nicht auf den obigen Link geklickt haben.

%p Ihr Clockwork Team
