- unless controller.flash.blank?
  #flash
    - controller.flash.with_indifferent_access.slice(:info, :alert).each do |name, msg|
      .flash.alert{class: "alert-#{name}"}
        %a.close{'data-dismiss' => 'alert'} ×
        = msg
