- unless controller.flash.blank?
  #flash
    - controller.flash.to_hash.with_indifferent_access.slice(:info, :notice, :alert, :error).each do |name, msg|
      .flash{class: "#{name}", data: { icon: i(name.to_sym)}}
        %a.close{'data-dismiss' => 'flash'} ×
        = msg
