%ul.nav
  - if user_signed_in?
    - if organization = @organization || current_organization || current_user.organizations.first
      = render 'accounts/navigation_selector', current: @account
      = render 'organizations/navigation_selector', current: organization
      = render 'organizations/navigation_links', organization: organization



