- count = current_user.unread_notifications.count
%li#notification-hub.dropdown{class: count > 0 ? 'has_new' : '' }
  = render "notifications/count", count: count
  = render 'notifications/notifications_list', notifications: notifications
