%li#notification-hub.dropdown
  = render "notifications/count", count: notifications.count
  %ul.notifications
    - if notifications.empty?
      = render "notifications/all_done"
    - notifications.each do |notification|
      = render "notifications/notification", notification: notification
