- una ||= record

.unavailability
  %span.account= una.account.name
  = abbr_tag una.period_with_zeros, una.period_with_duration, class: 'work_time'

  %span.reason= una.reason_text

  - if description = una.description.presence
    %span.description= description


