<h1>Plans</h1>

<table id="plans">
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Shifts</th>
    <th />
  </tr>
  <% @plans.each do |plan| -%>
		<%= render :partial => plan, :locals => { :plan => plan } %>
  <% end -%>
</table>

<%= render :partial => 'form' %>
