-title :plans

- if can? :create, Plan
  - masterhead_toolbar do
    =link_to ti(:add), [:new] + nested_resources_for(current_organization) + [:plan], class: 'button', remote: true, data: { icon: i(:add) }

- unless collection.empty?
  = render 'table', plans: collection
- else
  %p#plans= t(:'.no_plans')
