%h3= ta :plans
- unless collection.empty?
  = render 'list', plans: collection
- else
  %p= t(:'.no_plans')

- if can? :create, Plan
  = link_to ti(:add), [:new] + nested_resources_for(current_organization) + [:plan], class: 'button', remote: true
