- title @plan.name

%ul.actions
  %li= link_to '.new_scheduling', new_scheduling_path

%table#calendar
  %thead
    %tr
      %th= translate_action '.employees'
      - @plan.each_day do |day|
        %th= day.day
  %tbody
    - @plan.organization.employees.order_by_name.each do |employee|
      %tr
        %td.employee= employee.name
        - @plan.duration_in_days.times do
          %td

