%p --

%p Um in Zukunft keine E-Mail Benachrichtigungen mehr zu erhalten, ändern Sie bitte Ihre Einstellungen auf der folgenden Seite:

%p= link_to "Benachrichtigungseinstellungen ändern", edit_profile_url
