/* --------------------------------------------------------------------- */
/*  _1000px.css.scss                                                     */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


@media screen and (max-width: 1000px) {
    #content {
        padding-left: 20px;
        padding-right: 20px;
        @include single-transition(all, 0.5s, ease);
    }
    table#calendar {
        abbr {
            &.day_name, &.badge, &.weekly_working_time {
                &:before {
                    content: '';
                }
                span {
                    @include _unhidden();
                }
            }
        }
        abbr.weekly_working_time {
            @include _unhidden();
        }
        span.weekly_working_time {
            @include _hidden();
        }
    }
}
