.avatar {
  &.tiny {
    max-height: 16px;
    width: 16px;
  }
  &.thumb {
    max-height: 50px;
    width: 50px;
  }
}

.avatar_and_name {
  margin-bottom: 1.5385em;
  label {
    display: block;
    margin-left: 0;
    margin-bottom: 0.25em;
  }
  .avatar {
    margin-right: 0.5em;
    vertical-align: middle;
  }
  .input {
    display: inline-block;
  }
}
