/* --------------------------------------------------------------------- */
/*  _badge.css.scss                                                      */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


.badge {
    font-size: 10.5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    &:hover {
        cursor: auto;
    }
}
.badge-success:hover {
    background-color: #468847;
  }
.badge-warning:hover {
    background-color: #F89406;
  }
.badge-important:hover {
  background-color: #B94A48;
}
