.posts, .comments ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post article, .comments {
  padding-left: 64px;
}

.post article {
  padding-bottom: 1.5385em;
  margin-bottom:1.5385em;
  border-bottom:1px solid $ci_lightgray;
}

.post, .comment {
  h3 {
    padding: 0;
  }

  .meta {
    color: $ci_gray;
    padding: 0 0 .25em;
  }

  .author {
    @include border-radius($ci_border-radius);

    float: left;
    margin-top: 8px;
    margin-right: 10px;
  }

  .body {
    font-size: 14px;
    line-height: 20px;
    padding: 0.5em 0 1.5em;
  }

  .button_to {
    float: right;
  }
}

.comments h3 {
  padding: 0;
}

.comment {
  padding: 20px 0;
  border-bottom: 1px solid $ci_gray;

  &:nth-child(2n) {
    background: $ci_lightgray;
  }

  .button_to {
    margin-right: 20px;
  }
}

.no-comments {
  padding: 20px 0;
  color: $ci_gray;
  text-align: center;
}

.new_comment {
  padding: 20px;
  background: $ci_lightgray;

  textarea {
    @include box-sizing(border-box);

    width:100%;
  }
}
