#posts {
  list-style: none;
  padding: 0;
}

.post {
  article {
    padding-left: 72px;
  }

  h1 {
    padding: 0;
  }

  .meta {
    color: $ci_gray;
  }

  .author {
    @include border-radius($ci_border-radius);

    float: left;
  }
}
