@mixin button-colors($color: $ci_gray, $color_hover: $ci_gray_hover) {
  @include background-image(linear-gradient(lighten($color, 12.5%) 20%, lighten($color, 7.5%) 50%, $color));
  @include adaptive-color(color, $color);
  @include adaptive-color(text-shadow, $color);

  border: 1px solid $color;

  &:hover {
    @include background-image(linear-gradient(lighten($color_hover, 7.5%), $color_hover));
  }

  &:active:hover {
    border-color: darken($color, 20%);
  }
}

input[type=submit],
.button,
button {
  @include button-colors;
  @include border-radius($ci_border-radius);
  @include box-shadow(inset 0 1px 0 $ci_glow);

  padding:.4em .5em .35em;
  text-decoration: none;

  &:hover, &:focus {
    @include box-shadow(0 0 .35em transparentize($ci_blue, .2));

    border-color: $ci_blue;
    color: $ci_darkgray;
  }

  &:active {
    @include box-shadow(inset 0 0 .35em $ci_shadow);
  }

  &.button-small {
    font-size: .85em;
    padding-top: .35em;
    padding-bottom: .3em;
  }
}

.button-green, input[type=submit].button-green,
.button-success, input[type=submit].button-success {
  @include button-colors($ci_green, $ci_green_hover);

  &:hover {
    @include box-shadow(0 0 .35em transparentize($ci_green, .2));

    border-color: $ci_green;
    color: #fff;
  }
}

.button-red, input[type=submit].button-red,
.button-warning, input[type=submit].button-warning {
  @include button-colors($ci_darkorange, $ci_darkorange_hover);

  &:hover {
    @include box-shadow(0 0 .35em transparentize($ci_darkorange, .2));

    border-color: $ci_darkorange;
    color: #fff;
  }
}

.utility-button,
input[type=submit].utility-button {
  @include border-radius(10px);
  @include transition(background .5s $ci_easing);

  background: $ci_gray;
  color: #fff;
  padding: 3px 5px;
  border-width: 0;
  text-shadow: none;

  &.button-warning:hover, &.button-warning:focus {
    background: $ci_darkorange;
  }

  &:hover {
    color:#fff;
    background: $ci_blue;
  }

  &.icon-button {
    font-family: "FontAwesome";
    padding: 3px 5px 0;
    line-height: 15px;
    font-size: 10px;
  }
}

.button-cancel {
  float:left;
}

.button-ok {
  float:right;
}

.button-group {
  padding: 0;

  input[type=submit],
  .button,
  button {
    @include border-radius(0);

    display: inline;
    float: left;
    margin: 0;
  }

  :first-child {
    @include border-radius($ci_border-radius 0 0 $ci_border-radius);
  }

  :last-child {
    @include border-radius(0 $ci_border-radius $ci_border-radius 0);
  }
}

