@mixin button($color: $ci_gray, $color_hover: $ci_gray_hover) {
  @include border-radius($ci_border-radius);
  @include background-image(linear-gradient(lighten($color, 7.5%), $color));
  @include box-shadow(inset 0 1px 0 $ci_glow);

  @if lightness($color) < 50% {
    text-shadow: 0 -1px 0 $ci_shadow;
    color: #fff;
  } @else {
    text-shadow: 0 1px 0 $ci_glow;
    color: $ci_darkgray;
  }

  padding:.4em .5em .35em;
  border: 1px solid $color;
  text-decoration: none;

  &:hover {
    @include background-image(linear-gradient(lighten($color_hover, 7.5%), $color_hover));
    @include box-shadow(0 0 .35em transparentize($ci_blue, .2));

    border-color: $ci_blue;
    color: $ci_darkgray;
  }

  &:active {
    @include box-shadow(inset 0 0 .35em $ci_shadow);

    border-color: darken($color, 10%);
  }
}

input[type=submit],
.button,
button {
  @include button;

  &.button-small {
    font-size: .8em;
  }
}

.button-green {
  @include button($ci_green, $ci_green_hover);

  &:hover {
    @include box-shadow(0 0 .35em transparentize($ci_green, .2));

    border-color: $ci_green;
    color: #fff;
  }
}

.button-red {
  @include button($ci_darkorange, $ci_darkorange_hover);

  &:hover {
    @include box-shadow(0 0 .35em transparentize($ci_darkorange, .2));

    border-color: $ci_darkorange;
    color: #fff;
  }
}

.button-cancel {
  float:left;
}

.button-ok {
  float:right;
}

.button-group {
  list-style: none;
  padding: 0;
  overflow: hidden;

  li {
    display: inline;
    float: left;
    margin: 0;
  }

  input[type=submit],
  .button,
  button {
    @include border-radius(0);
  }

  :first-child {
    input[type=submit],
    .button,
    button {
      @include border-radius($ci_border-radius 0 0 $ci_border-radius);
    }
  }

  :last-child {
    input[type=submit],
    .button,
    button {
      @include border-radius(0 $ci_border-radius $ci_border-radius 0);
    }
  }
}

