/* --------------------------------------------------------------------- */
/*  _calendar.css.scss                                                   */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


// TODO make ALL colors reusable by putting them into variables. Call them
// border1 'til 23 or fridolin, but please no distributed hash values
// started in vertical_bars

// TODO re-order, so developers AND designers know their way
@import 'calendar/vertical_bars';

$ci_blue: #00a7c9;

#calendar-navigation {
    .caption {
        margin-bottom: 1em;
        font-size: 22px;
        font-weight: normal;
        line-height: 26px;
    }
    .btn-toolbar {
        margin-bottom: 15px;
    }
}

#calendar {
    color: #333;
    // border-color: #bbb;
    @include box-shadow(#e0e0e0 0px 0px 10px 0px);
    // tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    //     background: none;
    // }
    abbr {
        // show full description
        &:before {
            content: attr(title);
        }
        // hide the shortened stuff (will be shown wenn width < 1000px or < 800px )
        span {
            @include _hidden();
        }
    }
    // this one is a nested abbr, so treat it special
    abbr.weekly_working_time {
        @include _hidden();
    }
    span.weekly_working_time {
        @include _unhidden();
        abbr:before {
            content: '';
        }
    }
    tbody tr {
        &:nth-child(odd) {
            th, td {
                background: lighten($gradient_2, 1.5%);
            }
        }
        &:hover th.employee, &:hover td {
            background: #f5f5f5;
        }
    }
    th {
        color: #555;
    }
    thead {
        th {
            &:not(.employees) {
                text-align: center;
            }
        }
    }
    tbody {
        th.employee, td.wwt_diff {
            padding: 8px 5px;
            line-height: 22px;
        }
        th {
            width: 16%;
            padding: 2px;
            @include _set_gradient_background($color: $gradient_1, $percentage: 7%, $direction: right);
        }
        tr:nth-child(odd) th {
            @include _set_gradient_background($color: $gradient_2, $percentage: 5%, $direction: left);
        }
        tr {
            @include box-shadow(#CCC 0px 1px 2px 0px inset);
        }
        th, td {
            border-top-color: #bbb;
        }
        td {
            width: 12%; // == 84%
            padding: 2px;
            &.focus {
                @include box-shadow(#aaa 0px 0px 30px 0px);
                @include border-radius(5px);
                position: relative;
                z-index: 30;
            }
            // &.focus, &:focus, &:hover {
            //     background: image-url('actions-add-big-1.png') center bottom no-repeat;
            // }
        }
        .wwt_diff {
            padding-top: 5px;
            margin-top: 5px;
            border-top: 1px solid #ccc;
            font-weight: normal;
            font-size: 10px;
            line-height: 13px;
        }
        .badge {
            float: right;
            padding: 0px 6px 1px;
            font-size: 10px;
        }
    }
    ul {
        list-style: none;
        margin: 5px 0 20px 0;
        padding: 0;
        font-size: 11px;
        li {
            overflow: hidden;
            margin-bottom: 5px;
            padding: 0px 0px 0px 0px;
            @include _set_gradient_background($direction: top, $percentage: 8%);
            border-width: 1px;
            border-top-width: 3px;
            border-bottom-width: 2px;
            border-style: solid;
            border-left-color: #c8c8c8;
            border-right-color: #c8c8c8;
            @include border-radius(2px);
            .team_name, .work_time {
                display: block;
                padding: 0 3px;
            }
            .team_name {
                background: #fbfbfb;
                border-top: 1px solid #c8c8c8;
                border-bottom: 1px solid #d0d0d0;
                @include box-shadow(#e8e8e8 0px 1px 5px 0px inset);
                padding: 2px 4px 3px 4px;
                line-height: 14px;
            }
            &.focus, &:focus, &:hover {
                background: #d8d8d8;
                @include _set_gradient_background($color: #bfbfbf, $direction: bottom, $percentage: 7%);
                border-left-color:  #666;
                border-right-color: #666;
                .team_name {
                    background: #f0f0f0;
                    border-top-color:    #999;
                    border-bottom-color: #999;
                }
            }
            .gimmicks {
                padding: 0 5px;
                text-align: right;
                a.comments {
                    padding-left: 15px;
                    background: image-url('discussions-comment-2.png') 0 bottom no-repeat;
                }
            }
        }
    }
    ul.comments {
        display: none;
    }
}

