[data-toggle='collapsible-heading']
  +transition(0.25s color ease)
  padding: .5em 0 .5em 15px
  position: relative
  font-size: $font-size
  font-weight: bold
  cursor: pointer
  @extend %with-icon
  @extend .icon-collapse

  &:before
    position: absolute
    top: 7px
    left: 3px

  &.collapsed
    @extend .icon-expand

    &:before
      left: 5px

  &:hover
    color: $ci_blue

[data-toggle="collapsible-content"]
  margin-top: 0.5em

