.comments {
  padding: 0;
  margin: 0;
  list-style: none;
}

.comments h3 {
  padding: 0;
}

.comment {
  padding: 10px 20px;
  border-bottom: 1px solid $ci_lightgray;

  &:nth-child(2n) {
    background: $ci_darkwhite;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .meta, .own-meta {
    color: $ci_darkgray;
  }

  .avatar {
    float: left;
    margin-right: 10px;
  }
}

li.no-comments {
  padding: 20px 0;
  color: $ci_gray;
  text-align: center;
}

.new_comment {
  @include clearfix;

  padding: 20px 20px 20px 80px;
  background: $ci_darkwhite;
  position: relative;

  .avatar {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  textarea {
    @include box-sizing(border-box);

    width:100%;
  }
}
