html {
  @include font-smoothing(subpixel-antialiased);

  font-family: "proxima-nova",Helvetica,Arial,sans-serif;
  font-size: $ci_font-size;
  line-height: $ci_line-height;
  text-rendering: optimizeLegibility;
}

abbr {
  cursor: help;
}

a {
  @include transition(color .5s ease);

  color: $ci_blue;
  text-decoration: none;

  &:hover {
    color: $ci_blue_hover;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  letter-spacing: -.05em;
}

h1.huge {
  font-size: $ci_biggest-font;
  line-height: 1.1236em;
  padding: 0.22472em 0 0.44944em;
}

h1, h2 {
  font-size: $ci_bigger-font;
  line-height: 1.17647em;
  padding: 1.17647em 0 1.17647em;
}

h3 {
  font-size: $ci_big-font;
  line-height: 1.90476em;
  padding: 0.9524em 0 0;
}

h4, h5, h6, p, small,
.post .body,
.inputs > div {
  margin: 0;
  padding: 0 0 1.5385em;
}

small {
  color: $ci_gray;
  font-size: $ci_font-size;
}

#title {
  padding: 10px 0;
}

[role=banner] {
  background: $ci_blue;
  border-bottom: 1px solid darken($ci_blue, 7.5%);
  color: lighten($ci_blue, 50%);
  display: inline-block;
  width: 100%;

  h1 {
    float: left;
    font-size: 1em;
  }

  h1, ul, li {
    margin: 0;
    padding: 0;
  }

  a {
    @include transition(color, background .5s ease);

    border-left: 1px solid darken($ci_blue, 7.5%);
    color: lighten($ci_blue, 50%);
    padding: $banner_link_padding_tb $banner_link_padding_lr;
    display: inline-block;

  }

  h1 a,
  .user-navigation a {
    border-left: 0;
  }

  [role=navigation] {
    float:left;
  }

  .user-navigation {
    float: right;
  }

  .brand img {
    vertical-align: middle;
  }

  .avatar {
    height: 16px;
    vertical-align: -4px;
  }

  .active {
    background: darken($ci_blue, 5%);
  }

  li:hover > a {
    color: #fff;
    background: $ci_blue_hover_dark;
  }

  .dropdown {
    > ul {
      top: $ci_font_size * $ci_line_height + 2 * $banner_link_padding_tb;
    }

    > ul a {
      color: $ci_blue;
      border-left: none;
    }
  }
}

[role=content] {
  padding: 20px 0px 40px;

  .wrap.expanded & {
    padding-left:  20px;
    padding-right: 20px;
  }

  h2 {
    margin-top: 0;
  }
}

[role=footer] {
  clear: both;
  float: right;
}

.pagination {
  @include clearfix;

  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    @include border-radius(5px);

    display: inline;
    margin-right: 5px;
    padding: 3px 5px;
    border: 1px solid $ci_lightgray;
  }

  a {
    color: $ci_gray;

    &:hover {
      color: $ci_darkgray;
    }
  }

  .active {
    border: 1px solid $ci_gray;

    a {
      color: $ci_darkgray;
    }
  }
}

.instructions {
  padding: 20px;
  background: lighten($ci_yellow, 40%);
  color: darken($ci_yellow, 30%);
}

.masthead {
  @include clearfix;

  padding: 10px 0;
  margin: 0 0 20px;
  border-bottom: 1px solid darken($ci_lightgray, 5%);

  h1, h2, h3,
  #title {
    float: left;
    padding: 5px 0 0;
    font-size: $ci_header-size;
  }

  nav {
    float: right;
    padding-top: 10px;
  }
}

.nav-pills {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
  }

  a {
    @include border-radius(20px);
    @include transition(background .5s $ci_easing);

    padding: 4px 10px;
  }

  .active a,
  a:hover {
    background: $ci_blue;
    color: #fff;
    text-shadow: 0 -1px $ci_shadow; 
  }
}

.nav-stacked {
  li {
    display: block;
    float: none;
    margin-bottom: 5px;
  }

  a {
    display: block;
  }
}
