html
  // @include font-smoothing(subpixel-antialiased);
  font-family: $font-family
  font-size: $font-size
  line-height: $line-height
  // text-rendering: optimizeLegibility;

body
  padding-top: $banner_top_padding
  background: $ci_bg-color
  color: $ci_text-color

abbr
  cursor: help

a,
a.link,
.link
  +transition(color 0.25s ease)
  color: $ci_blue
  text-decoration: none
  outline: 0

  &:hover
    color: $ci_blue_hover

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  letter-spacing: -.05em
  line-height: 1.2

h1.huge
  font-size: $font-size_massive
  line-height: 1.1236em
  padding: 0.22472em 0 0.44944em

h1,
h2
  font-size: $font-size_larger
  line-height: 1.17647em
  padding: 1.17647em 0 1.17647em

h3
  font-size: $font-size_large
  padding: 0.9524em 0 0

h4,
h5,
h6,
p,
small,
.post .body,
.inputs > div
  margin: 0
  padding: 0 0 1.5385em

small
  color: $ci_gray
  font-size: $font-size

.side-link
  font-size: 12px
  float: right
  font-weight: normal
  letter-spacing: 0

.nav-pills
  list-style: none
  padding: 0
  margin: 0

  li
    display: inline

  a
    +transition(background 0.5s $ci_easing)
    border-radius: 20px
    padding: 4px 10px

  .active a,
  a:hover
    background: $ci_blue
    color: #fff
    text-shadow: 0 -1px $ci_shadow

  a:hover
    background: $ci_blue_hover

.nav-stacked
  li
    display: block
    float: none
    margin-bottom: 5px

  a
    display: block

.user-settings
  margin-top: 15px

#spinner
  +z-index(1000, fixed)
  top: 50%
  left: 50%

.hidden
  +_hidden

.additional-actions
  margin-top: 20px
  padding-top: 10px
  border-top: 1px solid $ci_midgray

.utility-button.toggle-sidebars
  border-radius: 0
  position: absolute
  z-index: 1
  top: 48px
  display: block
  width: $logo_width
  padding: 11px 0 4px
  text-align: center
  line-height: 1
  font-size: 16px
  border-bottom: 1px solid $ci_middarkgrey
  @extend %with-icon
  @extend .icon-hide

  &.collapsed
    @extend .icon-expand
    height: 100%
    width: 25px
    border-right: 1px solid $ci_middarkgrey

    &:before
      margin-right: 0

.toggle-sidebars[data-toggle="sidebar"]
  left: 0

.toggle-sidebars[data-toggle="contextual_help"]
  right: 0
