/* --------------------------------------------------------------------- */
/*  _common.css.scss                                                     */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


table {
    border-collapse: separate;
    .numeric {
        text-align: right;
    }
    thead {
        border-bottom: 1px solid #ccc;
        th {
            padding: 8px 5px;
            position: relative;
            z-index: 40;
            @include _set_gradient_background($color: $gradient_1, $percentage: 5%);
        }
    }
}

#content > h1 {
    margin-bottom: 1em;
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;
}
.btn-toolbar {
   margin-bottom: 15px;
}
