.secondary,
.tertiary
  +clearfix

  > div
    color: $ci_anthracite
    padding: 0 0px 1em 15px
    border-bottom: 1px solid $ci_midgray

    // &:not(:first-child)
      border-top: 1px solid white

    &.collapsed
      padding-bottom: 0

.keyboard-shortcuts,
.calendar-legend
  dl
    margin: 0

.keyboard-shortcuts .help
  +box-shadow(none)
  background: none

.instructions-dialog
  margin-right: 20px
  +box-shadow(0 0 15px $ci_shadow)

.help
  +box-shadow(0 1px 0 $ci_shadow)
  padding: 10px 15px
  border: 1px solid $ci_darkgray
  border-radius: 5px
  background: tint($ci_blue, 90%)
  color: darken($ci_blue, 30%)

.keyboard-shortcuts
  line-height: 1

  dt
    font-weight: bold

  dd:not(:last-child)
    margin: 0 0 10px 10px

.calendar-legend
  di
    display: block
    position: relative
    line-height: 1.2
    margin-bottom: 1px

  .pibble
    position: absolute
    top: 50%
    left: 0
    margin-top: -7px

  .shortcut
    margin-left: 25px

    span
      font-weight: bold

      &:before
        content: "["

      &:after
        content: "]"

  .name
    margin-left: 25px

  .active-teams + div
    margin-top: 1em
    padding-top: 1em
    border-top: 1px solid $ci_midgray
