.secondary,
.tertiary {
  > div {
    margin-bottom: 2em;
  }
}

.keyboard-shortcuts,
.calendar-legend {
  dl {
    margin: 0;
  }
}

.instructions, .help {
  @include box-shadow(0 1px 0 $ci_shadow);
  @include border-radius(5px);

  padding: 10px 15px;
  background: tint($ci_blue, 90%);
  color: darken($ci_blue, 30%);
}

.keyboard-shortcuts {
  line-height: 1;

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 0 10px 10px;
  }
}

.calendar-legend {
  di {
    display: block;
  }

  dt, .pibble {
    float: left;
    margin-right: 1em;
  }
}
