.dashboard {
  .module {
    margin-bottom: 20px;
    width: 47.4%;
    margin-right: 5%;
    float: left;

    &:nth-child(2n) {
      float: right;
      margin-right: 0;
    }

    header {
      border-bottom: 1px solid $ci_lightgray;
      padding-bottom: .5em;
      margin-bottom: .5em;
    }

    h2 {
      font-size: 18px;
      margin: 0;
      padding: 0;
    }

    .tag {
      border-radius: 10px;
      padding: 3px 5px;
      margin-right: 5px;
      font-size: 10px;
      background: $ci_lightgray;
    }
  }

  .news {
    li strong {
      display: block;
      font-size: 12px;
    }
  }

  .notifications {
    li:before {
      color: $ci_darkgray;
    }
  }

  .account-organization,
  .icon-comment {
    font-size: 12px;
    color: $ci_darkgray;
  }

  .agenda {
    border: none;
    border-collapse: separate;
    border-spacing: 0px 5px;

    th {
      background: $ci_darkwhite;
      border-right: 1px solid $ci_lightgray;
    }

    .date {
      width: 125px;
    }

    .day {
      font-size: 36px;
      float: left;
      margin-right: 10px;
      line-height: 1;
    }

    .day-name,
    .month-year {
      display: block;
      line-height: 1.25;
    }

    .day-name {
      margin-top: 0.2em;
    }

    .month-year {
      color: $ci_darkgray;
      font-size: 12px;
      font-weight: normal;
    }

    .time {
      font-weight: bold;
    }

    .team {
      margin-left: 0.25em;
      font-weight: normal;
    }
  }

  .list {
    @extend .elements-list
  }
}

.count {
  display: inline-block;
  border-radius: 20px;
  padding: 2px 6px 1px 5px;
  margin: 0 0.25em;
  font-size: 0.8em;
  background: $ci_lightgray;
  color: $ci_darkgray;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  min-width: 24px;
}

@media screen and (max-width: 800px) {
  .dashboard {
    .module,
    .module:nth-child(2n) {
      width: auto;
      margin-right: 0;
      float: none;
    }
  }
}
