.stringy_week, .stringy_date
  //position: relative
  input.hasDatepick + button.datepick-trigger
    //position: absolute
    //right: 10px
    //top: 18%
    margin-right: 1em
    margin-top: -2.3em
    float: right
