nav {
  padding: 0;

  li {
    display: inline-block;
    float: left;
  }
}

.dropdown {
  position: relative;

  > a:after {
    font-family: FontAwesome;
    content: '\f078';
    margin-left: .35em;
    font-size: .8em;
  }

  &:hover > ul {
    display: block;
  }

  > ul {
    @include border-radius($ci_border-radius);
    @include box-shadow(0 2px 3px rgba(0,0,0,.25));

    display: none;
    position: absolute;
    top: $ci_font_size / $ci_line_height / 2;
    left: 0;
    padding: 10px 0;
    background: #fff;
  }

  li {
    display: block;
    float: none;
  }
}
