+keyframes(here_i_am)
  70%
    +transform(scale(1.05))

  100%
    +transform(scale(1))

nav
  padding: 0

  li
    display: inline-block
    float: left

.dropdown
  position: relative

  a
    outline: 0

  > a:after
    font-family: FontAwesome
    content: '\f078'
    margin-left: .35em
    font-size: .8em

  > .dropdown-menu
    +box-shadow(0 2px 3px rgba(0, 0, 0, 0.1))
    display: none
    position: absolute
    top: 100%
    left: 0
    margin-top: 3px
    padding: 10px 0
    background: #fff
    border: 1px solid $global_border-color
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    z-index: 200
    +_triangle($global_border-color, white, 'top')

  > .dropdown-menu a
    +transition(none)
    padding: 3px 15px
    display: block
    white-space: nowrap

    &:hover
      color: #fff
      background: $ci_blue

  &.open > .dropdown-menu
    display: block

    &:not(.no-animation)
      +animation(here_i_am 0.15s)

  li
    display: block
    float: none
