.export-link
  display: inline-block
  margin: 1em
  padding: 1em
  background: $ci_darkwhite
  @extend %with-icon
  @extend .icon-export

.enable-export,
.deactivate-export
  margin-top: 2em
  form,
  form div
    display: inline

.deactivate-export
  font-weight: bold
