.flash
  +flash-message($ci_green)
  @extend %with-icon
  @extend .icon-notice
  padding: 5px 10px
  padding-left: 2.5em
  margin: 10px auto

  &.alert,
  &.error,
  &.errors
    +flash-message($ci_darkorange)
    @extend .icon-error

  &.warning
    +flash-message($ci_yellow)
    @extend .icon-warning

  .close
    float: right
    cursor: pointer

  &:before
    margin: auto 1em auto -1.8em
    padding-right: 0.4em
