#flash {
  @include border-radius($ci_border-radius);
  @include rounded-box-wrapper($ci_green);

  width: 95%;
  padding: 5px 10px;
  margin: 20px auto;

  &.notice {
    @include rounded-box-wrapper($ci_darkyellow);
  }

  &.error {
    @include rounded-box-wrapper($ci_darkorange);
  }

  &.permanent {
    a {
      color: #fff;
    }

    .close {
      float: right;
    }
  }
}
