#flash {
  @include flash-message($ci_green);

  padding: 5px 10px;
  margin: 20px auto;

  &.notice {
    @include flash-message($ci_darkyellow);
  }

  &.error {
    @include flash-message($ci_darkorange);
  }

  .close {
    float: right;
    cursor: pointer;
  }
}
