fieldset {
  padding: 0;
  border: none;
}

input,
button,
label,
textarea {
  font-family:"proxima-nova",Helvetica,Arial,sans-serif;
}

/* CSS-Tricks: Styling Texty Inputs Only
 * http://css-tricks.com/styling-texty-inputs-only/
 *
 * This will break in IE < 9.
 */
input:not([type=submit]):not([type=file]),
textarea {
  @include box-shadow(inset 0 0 3px rgba(0,0,0,.25));
  @include border-radius($ci_border-radius);

  border: 1px solid $ci_gray;
  padding: .5em;

  &:focus {
    @include box-shadow(inset 0 0 3px $ci_blue);

    border: 1px solid $ci_blue;
    background: lighten($ci_yellow, 47%);
    outline: none;  // remove grey outline shadow on webkit browsers
  }
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]),
textarea,
select {
  display: block;
}

input[type=checkbox],
input[type=radio] {
  margin-right: .35em;
}

form div {
  margin-bottom: 1em;

  & > label {
    margin-left: 0.25em;
  }
}

label {
  abbr[title] {
    color: $ci_darkgray;
    border-bottom: none;
  }

  + input {
    margin-top: 0.25em;
  }
}
