/* --------------------------------------------------------------------- */
/*  _form.css.scss                                                       */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


.well {
    border: 1px solid lighten($grayLight, 10%);
}

form#new_scheduling {
    border: 1px solid lighten($green, 10%);
    @include box-shadow($green 0px 0px 8px);
    padding: $modal_spacing;
    button[type=submit] {
        @include align-top(right);
    }
}
