input.disabled {
  background-color: $ci_lightgrey;
}

fieldset {
  padding: 0;
  border: none;
}

input,
button,
label,
textarea {
  font-family:"proxima-nova",Helvetica,Arial,sans-serif;
}

$all-text-inputs: append($all-text-inputs, unquote('input[type="stringy_date"]'), comma);

#{$all-text-inputs}, textarea {
  @include box-shadow(inset 0 0 3px rgba(0,0,0,.25));
  @include box-sizing(border-box);

  border-radius: $ci_border-radius;
  border: 1px solid $ci_gray;
  padding: .5em;

  &:focus {
    @include box-shadow(inset 0 0 3px $ci_blue);

    border: 1px solid $ci_blue;
    background: lighten($ci_yellow, 47%);
    color: $ci_text-color;
    outline: none;  // remove grey outline shadow on webkit browsers
  }
}

#{$all-text-inputs}, textarea, select {
  display: block;
}

textarea {
  @include transition(width, height .15s $ci_easing);
}

input[type=checkbox],
input[type=radio] {
  margin-right: .35em;
}

.inputs.edit-team input {
  width: 325px;
}

input.miniColors {
  padding-left: 30px;

  + .miniColors-trigger {
    position: relative;
    top: -27px;
  }
}

// jquery.datepick needs a visible input to calculate the offset for the popup.
// We hide it the strange way.
input.invisibleNotHidden {
  position: absolute;
  height: 0;
  width: 0;
  z-index: -1000;
}

form div {
  & > label {
    margin-left: 0.25em;
    &:first-child {
      font-weight: bold;
    }
  }
}

label {
  abbr[title] {
    color: $ci_anthracite;
    border-bottom: none;
  }

  + input {
    margin-top: 0.25em;
  }
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid $ci_midgray;
  font-weight: bold;
}

.content-form {
  padding: 10px 20px;
  border-left: 1px solid $ci_midgray;

  h1, h2, h3, h4 {
    padding: 0;
  }
}

.hint {
  display: inline-block;
  margin-top: 0.25em;
  margin-left: 0.5em;
  color: $ci_darkgrey;
}

.form-vertical {
  @include clearfix;

  .input {
    float: left;
    margin: 0 10px 0 0;
  }

  select {
    position: relative;
    top: 4px;
  }
}

.form-horizontal {
  label {
    float: left;
    margin-right: 1em;
  }
}
