.row, .wrap [role=content] {
  @include outer-container;
}

.wrap [role=content],
.wrap [role=content] .row {
  &.two-columns {
    .secondary {
      @include span-columns(3);
    }

    .primary {
      @include span-columns(9);
    }
  }
}

[role=content] {
  &.two-columns,
  &.three-columns {
    .primary,
    .secondary,
    .tertiary {
      &:not(:last-child) {
        padding-right: 20px;
        border-right: 1px solid $ci_midgray;
      }
    }
  }
}

.row,
[role=content] {
  &.two-columns {
    .secondary {
      @include span-columns(2);

      float: right;
    }

    .primary {
      @include span-columns(10);

      float: left;
    }

    &.inverted {
      .primary {
        @include span-columns(10);
      }

      .secondary {
        @include span-columns(2);
        @include omega;
      }
    }
  }

  &.three-columns {
    .primary {
      @include span-columns(8);
    }

    .secondary, .tertiary {
      @include span-columns(2);
    }

    .tertiary {
      float: right;
    }
  }
}

.row {
  &.two-columns {
    .secondary {
      float: left;
    }
  }
}
