.row, .wrap [role=content] {
  @include outer-container;
}

.row, [role=content] {

  &.two-columns {
    .secondary {
      @include span-columns(2);

      float: right;
    }

    .primary {
      @include span-columns(10);
      @include omega;

      float: right;
      padding-left: 20px;
      border-left: 1px solid $ci_midgray;
    }

    &.inverted {
      .primary {
        @include span-columns(10);
      }

      .secondary {
        @include span-columns(2);
        @include omega;
      }
    }
  }

  &.three-columns {
    .primary {
      @include span-columns(8);
    }

    .secondary, .tertiary {
      @include span-columns(2);
    }

    .tertiary {
      @include omega;
      
      float: right;
    }
  }
}
