/* --------------------------------------------------------------------- */
/*  _help.css.scss                                                       */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */

.help {
    dt, dd {
        display: block;
    }
    dt {
        float: left;
        width: 100px;
        text-align: right;
        padding-right: 30px;
    }
}
