+font-face(FontAwesome, "/assets/fontawesome/font/fontawesome-webfont")

%with-icon,
[data-icon],
[class^="icon-"],
[class*=" icon-"]
  /* adding a tiny padding-left is a pretty ugly hack for links containing
   * data-icons without declaring them as inline-block (which would destroy
   * consistent heights of a, input and button) ... webkit :( */
  // padding-left: 0.00000000000001em;

  &:before
    font-family: FontAwesome
    speak: none
    margin-right: .35em

[data-icon]
  &:before
    content: attr(data-icon)
