@include font-face(FontAwesome, "/assets/fontawesome/font/fontawesome-webfont");

[data-icon] {
  &:before {
    font-family: FontAwesome;
    content: attr(data-icon);
    speak: none;
    margin-right: .35em;
  }
}
