/* --------------------------------------------------------------------- */
/*  _instructions.css.scss                                               */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


.instructions {
    width: 455px;
    margin-left: 75px;
    border-left: 1px solid #efefef;
    padding-left: 75px;
    @include box-sizing(border-box);
    margin-top: 15px;
}
