.elements-list
  ul
    list-style: none
    padding: 0

    img
      vertical-align: middle

  .title
    font-size: 14px


  li
    margin-bottom: 5px
    padding: 5px

    &:nth-child(even)
      background: $ci_darkwhite

