[role=banner]
  .logo
    a
      +image-2x("clockwork-logo-32px.png", 181px, 17px)
      +transition(all 0.15s $ci_easing)
      display: block
      width: $logo_width
      height: 50px
      background: image-url("clockwork-logo-16px.png") 50% 16px no-repeat
      text-indent: -999em

      &:hover
        background-color: $ci_blue_hover_dark
