// This is only for testing purposes
// and is used only by element_tests.html
#modal {
  visibility: hidden;

  .modal-overlay {
    opacity: 0;
  }

  &:target {
    visibility: visible;

    .modal-overlay {
      @include transform(scale(1));

      opacity: 1;
    }
  }

  .modal {
    width: 300px;
    height: 150px;
    margin-top: -75px;
    margin-left: -150px;
  }
}

// Real modal styles start here
.ui-widget-overlay {
  background: rgba(0,0,0,.75);
  opacity: 1.0;
}

.ui-dialog .ui-dialog-titlebar-close span {
  margin: 0;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "proxima-nova",Helvetica,Arial,sans-serif;
}

.ui-widget input:not(.button):not(.boolean),
.ui-widget select,
.ui-widget textarea {
    width: 100%;
}

.ui-dialog {
  @include box-shadow(0 0 15px $ci_shadow);
  @include transition(opacity .5s $ci_easing);

  overflow: visible;
  max-width: 50%;

  .inputs {
    width: 525px;
  }

  h3 {
    padding: 0;
  }

  .ui-dialog-titlebar {
    background: none;
    border: 0;
    border-bottom: 1px solid $ci_midgray;
  }

  .ui-dialog-content {
    padding: 1em;
    background: $ci_darkwhite;
    overflow: visible;

    .flash {
       & + form .inputs {
        margin-top: 2em;
      }
    }

    .inputs.edit-team input {
      width: 325px;
    }

    .inputs.new-shift-form {
      min-width: 400px;
    }

    input[type='checkbox'] {
      width: auto;
    }

    .weekday-and-time,
    .qualification-fields .fields {
      & > .input {
        display: inline-block;
        position: relative;
      }

      .weekday {
        width: 65%;

        input {
          display: block;
          margin: 0 0 3px 8px;
        }

        label {
          float: left;
          margin-right: 5px;
          padding: 5px;
          text-align: center;
          line-height: 1;

          &:hover {
            cursor: pointer;
          }
        }

        .weekday-date {
          color: $ci_darkgray;
          font-size: $ci_small-font;
        }
      }

      .start-time,
      .end-time {
        width: 15%;

        input {
          text-align: center;
        }
      }

      .start-time {
        margin-left: 5%;
      }
    }

    .weekday-and-time {
      overflow: hidden;
    }

    .qualification-fields {
      h4 {
        border-top: 1px solid $ci_midgrey;
        margin-top: 0.5em;
        padding-top: 1.5em;
      }

      .fields {
        margin-bottom: 1.5em;

        & > a {
          display: inline-block;
          margin-left: 0.5em;
        }

        & > .input {
          width: 60%;

          &:first-child {
            width: 20%;
          }
        }
      }
    }

    .qualification-select {
      margin-top: 0.75em;
    }

    input.miniColors {
      padding-left: 30px;

      + .miniColors-trigger {
        position: relative;
        top: -28px;
      }
    }
  }

  .actions {
    margin-top: 1em;
    text-align: center;
  }
}

.ui-widget-content {
  .button-red,
  input[type="submit"].button-red,
  .button-warning,
  input[type="submit"].button-warning {
    color: $ci_darkorange;

    &:hover {
      color: white;
    }
  }
}

.ui-autocomplete {
  position: absolute;
  list-style: none;
  padding: 0;

  .ui-menu-item {
    padding: 0;

    a {
      @include transition(none);

      display: block;
      padding: 2px 5px;
    }
  }

  .ui-state-hover {
    border: none;
    background: $ci_blue;
    color: white;
  }
}

.modal-overlay {
  @include transition(all .15s $ci_easing);
  @include transform(scale(1.5));

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.75);
}

.modal {
  @include box-shadow(0 0 10px rgba(0,0,0,.25));
  @include transition(all .3s $ci_easing);

  border-radius: $ci_border-radius;
  background:#fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;

  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $ci_anthracite;
    text-decoration:none;

    &:hover {
      color: #000;
    }
  }

  header {
    padding-bottom: .35em;
    border-bottom: 1px solid $ci_gray;
  }

  h1 {
    font-size: $ci_font-size;
    margin: 0;
  }

  .buttons {
    text-align:center;
  }
}
