/* --------------------------------------------------------------------- */
/*  _modal.css.scss                                                      */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


#modalbox {
    padding: 15px 30px;
    form {
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .input-fullwidth {
        width: 522px;
    }
    .form-horizontal {
        .control-group {
            margin-top: 5px;
        }
        .control-label {
            width: 120px;
        }
        .controls {
            margin-left: 130px;
            input, textarea {
                width: 200px;
            }
        }
    }
    .edit_scheduling .control-group {
        margin-top: 10px;
    }
    .buttons {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #ccc;
        text-align: center;
    }
}
.ui-dialog {
    @include box-shadow(#333 0 0 50px);
}
.ui-widget-overlay {
    @include transition(250ms opacity);
    @include background(rgba(0, 0, 0, 0.4));
}
