.module
  margin-bottom: 20px
  width: 47.4%
  margin-right: 5%
  float: left

  &:nth-child(2n)
    float: right
    margin-right: 0

  header
    border-bottom: 1px solid $ci_lightgray
    padding-bottom: .5em
    margin-bottom: .5em

  h2
    font-size: 18px
    margin: 0
    padding: 0

  .tag
    border-radius: 10px
    padding: 3px 5px
    margin-right: 5px
    font-size: 10px
    background: $ci_lightgray

