// This is only for testing purposes
// and is used only by element_tests.html
#modal {
  visibility: hidden;

  .modal-overlay {
    opacity: 0;
  }

  &:target {
    visibility: visible;

    .modal-overlay {
      @include transform(scale(1));

      opacity: 1;
    }
  }

  .modal {
    width: 300px;
    height: 150px;
    margin-top: -75px;
    margin-left: -150px;
  }
}

// Real modal styles start here
.ui-widget-overlay {
  background: rgba(0,0,0,.75);
  opacity: 1.0;
}

.ui-dialog .ui-dialog-titlebar-close span {
  margin: 0;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "proxima-nova",Helvetica,Arial,sans-serif;
}

.ui-widget input:not(.button),
.ui-widget select,
.ui-widget textarea {
    width: 100%;
}

.ui-dialog {
  @include box-shadow(0 0 15px $ci_shadow);
  @include transition(opacity .5s $ci_easing);

  h3 {
    padding: 0;
  }

  .ui-dialog-titlebar {
    background: none;
    border: 0;
    border-bottom: 1px solid $ci_midgray;
  }

  .ui-dialog-content {
    padding: 1em;
  }

  .actions {
    text-align: center;
  }
}

.modal-overlay {
  @include transition(all .15s $ci_easing);
  @include transform(scale(1.5));

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.75);
}

.modal {
  @include box-shadow(0 0 10px rgba(0,0,0,.25));
  @include transition(all .3s $ci_easing);
  @include border-radius($ci_border-radius);

  background:#fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;

  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $ci_darkgray;
    text-decoration:none;

    &:hover {
      color: #000;
    }
  }

  header {
    padding-bottom: .35em;
    border-bottom: 1px solid $ci_gray;
  }

  h1 {
    font-size: $ci_font-size;
    margin: 0;
  }

  .buttons {
    text-align:center;
  }
}
