/* --------------------------------------------------------------------- */
/*  _modal.css.scss                                                      */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


#modalbox {
    padding-top: 15px;
    padding-bottom: 15px;

    form {
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .input-fullwidth {
        width: 522px;
    }
    .form-horizontal {
        .control-group {
            margin-top: 5px;
        }
        .control-label {
            width: 160px;
        }
        .controls {
            margin-left: 170px;
        }
    }
    .edit_scheduling .control-group {
        margin-top: 10px;
    }
    form[class$="_scheduling"] {
        button[type="submit"], a.delete {
            position: absolute;
            top: 0;
        }
        button[type="submit"] {
            right: 9px;
        }
        a.delete {
            left: 9px;
        }
    }
}
.ui-widget-overlay {
    @include transition(250ms opacity);
    @include background(radial-gradient(rgba(127, 127, 127, 0.75), rgba(127, 127, 127, 0.75) 35%, rgba(0, 0, 0, 0.6)));
}
