.notifications
  .read,
  .read a
    color: $ci_darkgrey

  .read
    .avatar
      opacity: 0.7

  li
    position: relative
    min-height: $small_size + 10px

  .avatar
    position: absolute
    left: 5px
    top:  5px

  .notifiable-link
    padding-left: $small_size + 10px
