.notifications
  .read,
  .read a
    color: $ci_darkgrey

  .read
    .avatar
      opacity: 0.7

  li
    position: relative
    min-height: $small_size + 10px

  .avatar
    position: absolute
    left: 5px
    top:  5px

  .subject,
  .blurb
    display: block
    padding-left: $small_size + 20px

  .subject:before
    position: absolute
    top: -2px
    left: $small_size
    text-shadow: white 0 0 0
    font-size: 1.3em
