+keyframes(attention-seek)
  0%
    +transform(rotate(0deg))
  10%
    +transform(rotate(0deg))
  20%
    +transform(rotate(0deg))
  30%
    +transform(rotate(0deg))
  40%
    +transform(rotate(0deg))
  50%
    +transform(rotate(10deg))
  60%
    +transform(rotate(0deg))
  70%
    +transform(rotate(-10deg))
  80%
    +transform(rotate(0deg))
  90%
    +transform(rotate(0deg))
  100%
    +transform(rotate(0deg))

#notification-hub
  > a
    div
      display: inline-block

  &.has_new > a div
    @extend .icon-bell
    +animation(attention-seek 2.0s linear infinite)
    +transform-origin(center top)

[role=banner]
  ul.notifications
    width: 350px
    min-height: 300px
    max-height: 500px
    overflow-y: auto

    a
      // padding: 0.25em 1em
      border-bottom: 1px solid $ci_lightgray
      white-space: normal

    li
      &:first-child a
        padding-top: 0

      &:last-child a
        padding-bottom: 0
        border-bottom: none

    .subject,
    .blurb
      display: block
