/* --------------------------------------------------------------------- */
/*  _page.css.scss                                                       */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


#page {
    margin: 0 auto;
    max-width: 1110px;
    min-width: 480px;
    padding: 0 5px;
}
