/* --------------------------------------------------------------------- */
/*  _posts.css.scss                                                      */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


ul#posts {
    margin: 0;
    list-style-type: none;
}
.post {
    display: block;
    margin: 50px 0 20px 25px;
    padding: 10px 30px 0px 50px;
    position: relative;
    border: 1px solid #ccc;
    @include border-radius(5px);
    @include box-shadow(#ccc 0 0 10px 0px inset);
    .avatar {
        position: absolute;
        left: -15px;
        top: -18px;
        width: 45px;
    }
    .meta, .own-meta {
        position: absolute;
        top: -18px;
        left: 42px;
        font-size: 12px;
    }
    h3 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0.5em;
        color: #666;
    }
    .body {
        margin-bottom: 10px;
    }
    /* add arrow after 'Mehr' */
    .more:after {
        content: " \2192";
    }
    .comments-count {
        float: right;
    }
}
