.reports-filter
  margin-bottom: 3em

  .module
    width: 30%

  .actions
    clear: both

.reports

// TODO: make this modular after merging of availabilitities
.time-inputs
  > div
    float: left
    display: inline-block
    width: 35%
    margin-right: 2em

  label
    display: block

  input
    width: 85%
    text-align: center
