$master_padding: 1em
$master_pushdown: 1.3em
$rought_master_height: 5 * $master_padding * 1.5
$pushup: 4.3em
$round: 1em
$step_count: 4

#setup
  header.master
    background-color: $ci_gray
    color: $ci_anthracite
    text-align: center
    padding: 1em
    font-size: 120%
    font-weight: bold

    // depend on no parent is pos:rel until body
    position: absolute
    width: 100vw
    left: 0
    margin-top: $master_pushdown
    z-index: 1

    box-shadow: 0px 5px 5px $ci_shadow

  .road
    background-color: $ci_darkwhite
    padding: $rought_master_height + $master_pushdown 1em 0.3em 1em
    border-radius: 0 0 $round $round

    // make it slimmer and center it
    max-width: 35em
    margin: -$pushup auto 0 auto

    box-shadow: 3px 3px 5px $ci_shadow

    dt
      color: $ci_darkgray
    label, dd
      font-size: 120%
      &.default
        color: $ci_darkgray

    #employee_first_name, #employee_last_name
      width: golden_ratio(100%, -2)
    #account_name, #organization_name
      width: golden_ratio(100%, -1)
    #team_names
      width: 100%

    ul.progress
      // reset
      margin: 0
      padding: 0
      list-style: none

      $color1: $ci_lightgray
      $color2: $ci_midgray
      $color3: $ci_gray
      $textcolor: $ci_darkgrey

      $background: mix($color2, $color3)


      // arrows
      background-color: $ci_darkwhite
      border-radius: 5px
      // ??          ^^1
      box-shadow: 0 0 2px rgba(0, 0, 0, .2)
      width: 100%

      li
        float: left
        position: relative

        // devide space evenly
        width: 100% / $step_count

        > span
          padding: .7em 1em .7em 2em
          float: left
          // fill stretched li
          width: 100%
          text-decoration: none
          color: $textcolor
          text-shadow: 0 1px 0 rgba(255, 255, 255, .5)

          // gradient
          background-color: $background
          background-image: linear-gradient(to right, $color1, $background)

          &::after, &::before
            content: ''
            position: absolute
            // center vertically?
            top: 50%
            margin-top: -1.5em
            border-top: 1.5em solid transparent
            border-bottom: 1.5em solid transparent
            border-left: 1em solid
            right: -1em

          &::after
            z-index: 2
            border-left-color: mix($color1, $color2)

          &::before
            z-index: 1
            border-left-color: $background
            right: -1.1em

        &:first-child
          > span
            padding-left: 1em
            border-radius: 5px 0 0 5px


  .error
    color: $ci_darkorange

  .buttons
    +clearfix
    border-top: 1px $ci_gray solid
    padding: 0.7em 0

    button
      // bigger
      font-size: 120%
      padding: 0.7em

  .fineprint
    max-width: 35em
    margin: 2px auto
    font-size: 90%
    font-style: italic
    text-align: right
