$master_padding: 1em
$master_pushdown: 1.3em
$rought_master_height: 5 * $master_padding * 1.5
$pushup: 3.5em
$round: 1em
#setup
  header.master
    background-color: $ci_gray
    color: $ci_anthracite
    text-align: center
    padding: 1em
    font-size: 120%
    font-weight: bold

    // depend on no parent is pos:rel until body
    position: absolute
    width: 100vw
    left: 0
    margin-top: $master_pushdown
    z-index: 1

    box-shadow: 0px 5px 5px $ci_shadow

  .road
    background-color: $ci_darkwhite
    padding: $rought_master_height + $master_pushdown 1em 0.3em 1em
    border-radius: 0 0 $round $round

    // make it slimmer and center it
    max-width: 35em
    margin: -$pushup auto 0 auto

    box-shadow: 3px 3px 5px $ci_shadow

    dt
      color: $ci_darkgray
    label, dd
      font-size: 120%

    #employee_first_name, #employee_last_name
      width: golden_ratio(100%, -2)
    #account_name, #organization_name
      width: golden_ratio(100%, -1)
    #team_names
      width: 100%

  .error
    color: $ci_darkorange

  .buttons
    +clearfix
    border-top: 1px $ci_gray solid
    padding: 0.7em 0

    button
      // bigger
      font-size: 120%
      padding: 0.7em

  .fineprint
    max-width: 35em
    margin: 2px auto
    font-size: 90%
    font-style: italic
    text-align: right
