[role=content]
  padding: 0 $banner_link_padding_lr 25px
  margin-bottom: 40px

  .wrap.expanded &
    padding-left: 20px
    padding-right: 20px

  h2
    margin-top: 0

[role=footer]
  clear: both
  float: right

.wrap
  [role=content]
    margin: 0 auto
    max-width: 988px
    +clearfix
