table {
  margin-bottom: 2em;
  border: 1px solid $ci_grey;

  thead {
    border-bottom: 1px solid $ci_anthracite;
    background: white;
  }

  tbody tr {
    background: white;
    &:nth-child(2n+1) {
      background: $ci_darkwhite;
    }
  }

  td, th {
    padding: $table_cell_padding;
    text-align: left;
  }

  img {
    vertical-align: middle;
  }

  .numeric {
    text-align: right;
  }

  &:not(.table-condensed) {
    width: 100%;
  }
}
