[role=toolbar] {
  @include clearfix;
  @include z-index(102);

  padding: 15px 0;

  .button-group {
    margin-right: 10px;
  }

  .options {
    float: right;

    :first-child {
      margin-left: 1em;
    }
    :last-child {
      margin-right: 0;
    }
  }
}
