[role=toolbar] {
  @include clearfix;

  margin-bottom: 1.5em;
  padding: 10px;
  background: $ci_lightgray;
  border-top: 1px solid darken($ci_lightgray, 5%);
  border-bottom: 1px solid darken($ci_lightgray, 5%);

  .button-group :last-child {
    margin-right: 1em;
  }

  .options {
    float: right;

    :first-child {
      margin-left: 1em;
    }
    :last-child {
      margin-right: 0;
    }
  }
}
