/* --------------------------------------------------------------------- */
/*  _tooltip.css.scss                                                    */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


.tooltip {
    // add a outer border to hide elements behind the tooltips
    padding: 0 0 5px 0;
    border-top:   5px solid white;
    border-left:  5px solid white;
    border-right: 5px solid white;
    @include border-radius(9px);
}
