[role=toolbar] {
  @include clearfix;

  padding: 15px 0;

  .button-group :last-child {
    margin-right: 1em;
  }

  .options {
    float: right;

    :first-child {
      margin-left: 1em;
    }
    :last-child {
      margin-right: 0;
    }
  }
}
