[role=toolbar]
  +clearfix
  position: relative
  padding: 15px 0

  .button-group
    margin-right: 10px

  .options
    float: right

    \:first-child
      margin-left: 1em

    \:last-child
      margin-right: 0
