#tutorial
  position: absolute
  top: 8em
  right: 1em
  width: 50vw
  height: 50vh
  z-index: 9002

  opacity: 0.7
  transition: opacity 0.3s
  &.hover
    opacity: inherit

//#open-tutorial


$hint_size: 2em

.tutorial-hint
  width: $hint_size
  height: $hint_size
  z-index: 9001
  position: absolute

  border-right:  $hint_size solid red
  border-top:    $hint_size solid transparent
  border-bottom: $hint_size solid transparent
