#unavailabilities
  table
    td
      height: 7em // basically min-height
      cursor: pointer
      a.day-in-month
        color: $ci_middarkgrey
        font-size: 23px

    ul
      padding-bottom: 0

  .ui-dialog-content
    .input
      &.all-day
        margin-top: 2.5em
        margin-bottom: 0.6em
      &.start-time, &.end-time
        width: 17% // no day multiselect here

  .month-selector
    display: inline-block
    float: left

  .una-employee-select
    display: inline
    margin: 7px 0 0 1em

  .month-name
    float: left
    font-size: 1.2em
    padding-top: 5px

.unavailability
  display: block
  float: left
  clear: left
  margin-bottom: 1.4em

  .account
    display: block
    font-size: 120%
    color: $ci_text-color

  .work_time
    float: left

  .reason
    float: left
    margin-left: 0.5em

  .description
    display: block
    clear: both
    padding-left: 0.5em
    color: $ci_darkgrey
