#unavailabilities
  table
    td
      height: 7em // basically min-height
      cursor: pointer
      a.day-in-month
        color: $ci_middarkgrey
        font-size: 23px

      .unavailability
        display: block
        float: left
        clear: left
        margin-bottom: 1.4em

        .account
          display: block
          font-size: 120%
          color: $ci_text-color

        .work_time
          float: left

        .reason
          float: left
          margin-left: 0.5em

        .description
          display: block
          clear: both
          padding-left: 0.5em
          color: $ci_darkgrey
