// TODO beauty up
.undo
  +flash-message(lighten($ci-orange, 30%))
  padding: 10px 10px
  padding-left: 2.5em
  margin: 10px auto
  input
    +button-colors($ci_orange, lighten($ci_orange, 7.5%))
    float: right
    position: relative
    top: -4px
