.where-and-who-am-i
  +clearfix
  padding: 5px $banner_link_padding_lr
  color: $ci_darkgrey
  background: $ci_darkwhite
  border-bottom: 1px solid $ci_grey

  .current-account-and-organization
    float: left

  .username
    float: right

  .current-account-and-organization,
  .username
    white-space: nowrap
