/* --------------------------------------------------------------------- */
/*  _buttons.css.scss                                                    */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */

input[type=submit],
.button,
button {
  border-radius: $ci_border-radius;
  padding:.35em .5em;
  background: $ci_blue;
  color: #fff;
  border: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  text-decoration: none;

  &:hover {
    background: darken($ci_blue, 10%);
    color: #fff;
  }
}

.pager {
    position: relative;
    z-index: 2;
    a {
        @include _set-gradient-background();
        border-color: #c0c0c0;
        &:hover, &:focus {
            @include _set-gradient-background($color: darken(#e2e2e2, 5%), $percentage: 15% );
            border-color: #b0b0b0;
        }
        &:active { /* push button effect */
            @include single-box-shadow(#666, 0px, 0px, 5px, 0px, inset);
            border-color: darken(#b0b0b0, 10%);
            text-decoration: none;
        }
    }
}
