/* --------------------------------------------------------------------- */
/*  _pagination.css.scss                                                 */
/*  compass version: 0.12.rc.1                                           */
/* --------------------------------------------------------------------- */


.pagination {
    text-align: center;
    /* override bootstrap */
    height: 0;
    a {
        line-height: 27px;
    }
}
