%header{:role => 'banner'}
  %h1.logo= link_to "Clockwork", root_path, class: 'brand', id: 'logo'
  %nav{:role => 'navigation'}
    = render 'accounts/navigation'
  %nav.user-navigation
    = render 'session'
