%header{:role => 'banner'}
  %h1= link_to image_tag('shiftplan-logo_16px.png', :alt => 'Shiftplan'), root_path, class: 'brand', id: 'logo'
  %nav{:role => 'navigation'}
    = render 'navigation'
  %nav.user-navigation
    = render 'session'
