- defined?(current) or raise(ArgumentError, "must provide :current (organization)")
- organizations = current_user.organizations_for(account)
%li
  - if organizations.count > 1
    %ul
      %li.dropdown
        %a{href: '#', 'data-toggle' => 'dropdown'}= Organization.model_name.human count: 9001
        %ul.organization-dropdown
          - organizations.each do |org|
            %li= link_to org.name_with_account, nested_resources_for(org)

  - else
    %ul
      - if organization = organizations.first
        = li_link organization.name, nested_resources_for(organization), class: 'organization', data: { icon: i(:organization) }
        = render 'organizations/navigation_links', organization: organization
