- if user_signed_in?
  %ul
    %li.dropdown
      = link_to t('activerecord.models.organization.other'), accounts_path,
        {:class => 'icon-organization', data: { toggle: 'dropdown'}}
      %ul.organization-dropdown
        = render 'accounts/organization_menu_items', accounts: current_user.accounts.default_sorting

    - if current_organization
      = render 'organizations/navigation_links', organization: current_organization
