- title :edit_account

.primary
  = simple_form_for @account, html: { class: 'form-horizontal' } do |f|
    .inputs.edit-account
      = f.input :name, autofocus: true
    .actions
      = f.update_button

#instructions.instructions
  = tt '.instructions'
