- title :edit_account

.row.two-columns.inverted
  .primary
    = simple_form_for @account, html: { class: 'form-horizontal' } do |f|
      .inputs.edit-account
        = f.input :name, autofocus: true
      .actions
        = f.update_button
  .secondary.instructions
    = tt '.instructions'
